Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Fix a logic error in series-tagging script
  tools/series-tag-post.py
Due: none

Rearrange netlab posts
  content/posts/2020/12/build-labs-netsim-tools.md
  content/posts/2023/12/netlab-1-7-0-validation-plugins.md
  content/posts/2024/01/netlab-1-7-1-eye-candy.md
  content/posts/2024/03/netlab-1-8-0-daemons-bird.md
  content/posts/2024/04/netlab-1-8-1-integration-tests.md
  content/posts/2024/04/netlab-state-april-2024.md
  content/posts/2024/04/worth-reading-gns3-containerlab-netlab.md
  content/posts/2024/05/netlab-1-8-2-fixes.md
  content/posts/2024/06/netlab-1-8-3-rip-bgp.md
  content/posts/2024/06/netlab-1-8-4-vrnetlab-cat8000.md
  content/posts/2024/08/netlab-1-9-0-routing-policies.md
  content/posts/2024/10/netlab-1-9-1-routing-instances.md
  content/posts/2024/11/netlab-1-9-2-stp-lag-iol-edgeshark.md
  content/posts/2025/01/netlab-1-9-3-mlag-static-routes.md
  content/posts/2025/01/netlab-1-9-4-bug-fixes.md
  content/posts/2025/03/netlab-1-9-5-junos-cumulus.md
  content/posts/2025/03/netlab-1-9-6-gateway.md
  content/posts/2025/05/netlab-2-0-0.md
  content/posts/2025/12/netlab-configuration-translator.md
  content/posts/2026/03/netlab-use-cases.md
  content/posts/2026/04/worth-reading-lab-as-code.md
  content/posts/2026/04/worth-reading-what-is-netlab.md
  content/tags/netlab/_index.md
Due: md-check, spell-check

Split segment routing category into SRv6 and SR-MPLS
  content/posts/2011/11/ldp-igp-synchronization-in-mpls.md
  content/posts/2015/05/segment-routing-101-on-software-gone.md
  content/posts/2016/04/zero-bandwidth-traffic-engineering.md
  content/posts/2017/08/synchronizing-bgp-and-ospf-or-ospf-and.md
  content/posts/2018/12/segment-routing-anyone.md
  content/posts/2019/01/srv6-one-tool-to-rule-them-all.md
  content/posts/2019/04/why-is-mpls-segment-routing-better-than.html
  content/posts/2020/08/worth-reading-srx6-snake-oil.md
  content/posts/2021/05/segment-routing-ids-mpls-labels.md
  content/posts/2021/05/segment-routing-mpls-bgp-free-core.md
  content/posts/2021/10/worth-reading-need-segment-routing.md
  content/posts/2022/01/netsim-example-sr-mpls-junos-srlinux.md
  content/posts/2022/02/worth-reading-non-standard-srv6.md
  content/posts/2022/03/hub-spoke-ldp-segment-routing.md
  content/posts/2022/03/hub-spoke-vpls-revenge-ldp.md
  content/posts/2022/09/greenfield-sr-mpls-srv6.md
  content/posts/2022/10/applicability-sr-mpls.md
  content/posts/2022/11/sr-mpls-scalability.md
  content/posts/2022/11/srv6-host-overlay.md
  content/posts/2023/01/state-of-ldpv6-6pe.md
  content/posts/2023/12/worth-reading-srv6-labs.md
  content/posts/2024/04/sr-mpls-security-framework.md
  content/posts/2024/07/bgp-evpn-vxlan-srv6.md
  content/posts/2024/07/worth-reading-making-segment-routing-user-friendly.md
  content/posts/2024/08/srv6-benefits.md
  content/posts/2025/08/swinog40-srv6.md
  content/posts/2026/03/netlab-sr-mpls-l3vpn.md
  content/posts/2026/04/sr-mpls-workshop.md
  content/tags/sr-mpls/_index.md
  content/tags/srv6/_index.md
Due: md-check, spell-check

series-tags shortcode: display all tags used in category/series
  themes/ipspace/layouts/shortcodes/series-tags.html
Due: none

Fix: Category .Data.Term can include whitespace
  themes/ipspace/layouts/shortcodes/series-listing.html
  themes/ipspace/layouts/shortcodes/series-untagged.html
Due: none

Master merge + update
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Reorganized Segment Routing categories, SR101 videos
  content/posts/2026/04/sr-mpls-workshop.md
  content/posts/2026/05/sr-reorg.md
  content/posts/2026/05/sr101-videos.md
  content/tags/sr-mpls/_index.md
  content/tags/srv6/_index.md
  static/2026/05/chat-segment-inspection.png
Due: md-check, spell-check

Ignore .vscode directory and all draft blog posts
  .gitignore
Due: none

OS tools by Tony Mattke
  content/posts/2026/06/worth-reading-os-net-tools.md
Due: md-check, spell-check

Master merge + update
  content/archm/2026-05.md
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: md-check, spell-check

Master merge + update
  comments/2026/05/swinog-41.html
  comments/2026/05/swinog-41.json
  data/comment_count.json
  data/popular.json
Due: none

Fix: Empty link to SwiNOG event page
  content/posts/2026/05/swinog-41.md
  tools/md-check.py
Due: md-check, spell-check

Master merge + update
  comments/2026/05/swinog-41.html
  comments/2026/05/swinog-41.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Hands-on introduction to SR-MPLS
  content/posts/2026/05/sr-mpls-intro.md
  static/2026/05/sr-mpls-intro.png
Due: md-check, spell-check

Master merge + update
  comments/2026/05/worth-reading-cloudflare-automatic-return-routing.html
  comments/2026/05/worth-reading-cloudflare-automatic-return-routing.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/05/arp-mac-aging-timers.html
  comments/2026/05/arp-mac-aging-timers.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/05/arp-mac-aging-timers.html
  comments/2026/05/arp-mac-aging-timers.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2026/02/evpn-cisco-ios.html
  comments/2026/02/evpn-cisco-ios.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/02/evpn-cisco-ios.html
  comments/2026/02/evpn-cisco-ios.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/05/worth-reading-cloudflare-automatic-return-routing.html
  comments/2026/05/worth-reading-cloudflare-automatic-return-routing.json
  data/popular.json
Due: none

Master merge + update
  comments/2022/11/srv6-host-overlay.html
  comments/2022/11/srv6-host-overlay.json
  data/comment_count.json
  data/popular.json
Due: none

Mark a pair of blog posts as 'netlab quirks'
  content/posts/2023/10/vjunos-declines-dhcp-address.md
  content/posts/2024/05/too-stupid-to-make-it-work.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Fixing ARP/MAC blog post (thick coax was 10BASE5)
  content/posts/2026/05/arp-mac-aging-timers.md
Due: md-check, spell-check

Another SRv6 use case
  content/posts/2022/11/srv6-host-overlay.md
Due: md-check, spell-check

Fun: Genie tarpit
  content/posts/2026/06/worth-reading-genie-tarpit.md
Due: md-check, spell-check

Master merge + update
  comments/2022/11/srv6-host-overlay.html
  comments/2022/11/srv6-host-overlay.json
  data/popular.json
Due: none

Updated virtual device boot times
  content/posts/2023/02/virtual-device-boot-times.md
Due: md-check, spell-check

Master merge + update
  comments/2026/05/arp-mac-aging-timers.html
  comments/2026/05/arp-mac-aging-timers.json
Due: none

Add lab topology for the centralized EVPN routing example
  content/posts/2026/05/arp-issues-evpn-central-routing.md
Due: md-check, spell-check
