Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  comments/2024/11/running-routing-protocols-over-tunnels.html
  comments/2024/11/running-routing-protocols-over-tunnels.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/11/running-routing-protocols-over-tunnels.html
  comments/2024/11/running-routing-protocols-over-tunnels.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/popular.json
Due: none

EntMPLS videos are public
  content/posts/2024/11/enterprise-mpls-vpn-videos.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

BGP labs: dynamic BGP neighbors
  content/posts/2024/11/bgp-labs-dynamic-peers.md
Due: md-check, spell-check

Master merge + update
  comments/2015/06/software-defined-wanwell-orchestrated.html
  comments/2015/06/software-defined-wanwell-orchestrated.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2015/06/software-defined-wanwell-orchestrated.html
  comments/2015/06/software-defined-wanwell-orchestrated.json
  data/comment_count.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2022/06/select-data-center-switching-asic.html
  comments/2022/06/select-data-center-switching-asic.json
  data/comment_count.json
Due: none

EVPN designs: IBGP-over-EBGP
  content/posts/2024/05/evpn-designs-ibgp-full-mesh.md
  content/posts/2024/09/evpn-designs-ibgp-rr.md
  content/posts/2024/10/evpn-designs-ebgp-ebgp.md
  content/posts/2024/11/evpn-designs-ibgp-ebgp.md
  static/2024/11/evpn-design-ibgp-over-ebgp-asn.png
  static/2024/11/evpn-design-ibgp-over-ebgp.png
Due: md-check, spell-check

Rant: IPv6 multihoming IETF draft
  content/posts/2024/11/ipv6-multihoming-draft.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Lab: dual-stack IS-IS
  content/posts/2024/11/isis-dual-stack.md
Due: md-check, spell-check

Add START argument to PRINTOUT shortcode
  themes/ipspace/layouts/shortcodes/printout.html
Due: none

Sample multi-as netlab topology
  content/posts/2024/12/multi-as-netlab-topology.md
  static/2024/12/netlab-multias.png
Due: md-check, spell-check

Master merge + update
  comments/2024/11/ipv6-multihoming-draft.html
  comments/2024/11/ipv6-multihoming-draft.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2024/11/ipv6-multihoming-draft.html
  comments/2024/11/ipv6-multihoming-draft.json
  data/popular.json
Due: none

Codespaces for network engineers
  content/posts/2024/12/worth-reading-codespaces-network-engineers.md
Due: md-check, spell-check

Increase the length of the ATOM feed
  config.yaml
Due: yamllint

Finally: BGP PIC Edge blog post
  content/posts/2024/12/pic-edge-oxymoron.md
Due: md-check, spell-check

Master merge + update
  content/archm/2024-12.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Master merge + update
  comments/2024/11/ipv6-multihoming-draft.html
  comments/2024/11/ipv6-multihoming-draft.json
  data/comment_count.json
  data/popular.json
Due: none

Shuffle blog posts
  content/posts/2024/12/common-labbing-misconceptions.md
  content/posts/2024/12/worth-reading-codespaces-network-engineers.md
Due: md-check, spell-check

Sample ASAv netlab topology
  content/posts/2024/12/netlab-asav-topology.md
  static/2024/12/asav-topology.png
Due: md-check, spell-check

Master merge + update
  comments/2024/12/pic-edge-oxymoron.html
  comments/2024/12/pic-edge-oxymoron.json
  data/comment_count.json
  data/popular.json
Due: none
