Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  comments/2023/10/ultra-ethernet.html
  comments/2023/10/ultra-ethernet.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/10/ultra-ethernet.html
  comments/2023/10/ultra-ethernet.json
  data/comment_count.json
Due: none

Master merge + update
  data/archive.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

netlab-related blog posts
  content/posts/2023/10/bgp-labs-tcp-ao.md
  content/posts/2023/10/netlab-1-6-3-bgp-goodies.md
Due: md-check, spell-check

Master merge + update
  comments/2023/09/worth-reading-single-port-lag.html
  comments/2023/09/worth-reading-single-port-lag.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Master merge + update
  comments/2023/09/ecmp-static-routing.html
  comments/2023/09/ecmp-static-routing.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/09/ecmp-static-routing.html
  comments/2023/09/ecmp-static-routing.json
  data/popular.json
Due: none

Migrated videos off demo.ipspace.net
  content/posts/2012/01/ipspace-webinars-peek-before-you-buy.html
  content/posts/2012/01/not-sure-about-yearly-subscription.html
  content/posts/2012/08/pvlan-vxlan-and-cloud-application.html
  content/posts/2012/08/pvlan-vxlan-and-cloud-application.md
  content/posts/2012/09/data-center-fabric-presentations.html
  content/posts/2012/09/openflowsdn-hype-useful-tool-or-panacea.html
  content/posts/2012/09/state-of-ipv6-in-data-center-gear.html
  content/posts/2012/10/skip-transitions-build-ipv6-only-data.html
  content/posts/2012/10/skip-transitions-build-ipv6-only-data.md
  content/posts/2012/12/router-advertisement-ra-guard-on-cisco.html
  content/posts/2012/12/router-advertisement-ra-guard-on-cisco.md
  content/posts/2013/05/bgp-best-external-explained.html
  content/posts/2013/05/bgp-best-external-explained.md
  content/posts/2013/06/eibgp-load-balancing.md
Due: md-check, spell-check

Added a link to EIBGP-related blog posts
  content/posts/2023/09/ecmp-static-routing.md
Due: md-check, spell-check

Master merge + update
  comments/2023/10/bgp-labs-tcp-ao.html
  comments/2023/10/bgp-labs-tcp-ao.json
  data/comment_count.json
  data/popular.json
Due: none

Another BGP lab
  content/posts/2023/10/bgp-labs-ibgp.md
  content/posts/2023/10/netlab-1-6-2-more-reports.md
Due: md-check, spell-check

Master merge + update
  comments/2009/05/lack-of-ipv6-multihoming-elephant-in.html
  comments/2009/05/lack-of-ipv6-multihoming-elephant-in.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2009/05/lack-of-ipv6-multihoming-elephant-in.html
  comments/2009/05/lack-of-ipv6-multihoming-elephant-in.json
  data/popular.json
Due: none

New blog post: Rejecting BGP sessions from unknown sources
  content/posts/2023/10/reject-unknown-bgp-session.md
  content/posts/2023/10/worth-reading-ai-risks.md
Due: md-check, spell-check

Move netlab release notes prior to 1.3.0 to 'archive' category
  content/posts/2022/02/netsim-installation.md
  content/posts/2022/04/netsim-mpls.md
  content/posts/2022/04/netsim-tools-release-1.2.1.md
  content/posts/2022/05/netsim-release-1.2.2.md
  content/posts/2022/06/netsim-vlan-complete.md
  content/posts/2022/08/netsim-netlab.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
Due: none

History of BGP route leaks video
  content/posts/2023/10/video-history-bgp-route-leaks.md
Due: md-check, spell-check

Netlab release 1.6.4
  content/posts/2023/10/netlab-1-6-4-more-bgp-nerd-knobs.md
Due: md-check, spell-check

Support for multi-vendor external BGP routers in BGP labs
  .gitignore
  content/posts/2007/08/tclsh-is-broken-in-124t.html
  content/posts/2023/10/bgp-labs-multivendor-feed.md
  content/posts/2023/10/netlab-1-6-4-more-bgp-nerd-knobs.md
Due: md-check, spell-check

Fixing links to bgplab pages
  content/posts/2023/08/bgp-hands-on-labs.md
  content/posts/2023/08/bgp-labs-basic-setup.md
  content/posts/2023/09/bgp-labs-bfd.md
  content/posts/2023/09/bgp-labs-protect-sessions.md
  content/posts/2023/09/bgp-labs-redistribute.md
  content/posts/2023/09/bgp-labs-simple-policy-tools.md
  content/posts/2023/10/bgp-labs-ibgp.md
  content/posts/2023/10/bgp-labs-multivendor-feed.md
  content/posts/2023/10/bgp-labs-route-aggregation.md
  content/posts/2023/10/bgp-labs-tcp-ao.md
  content/posts/2023/10/bgp-session-security-snafu.md
  content/posts/2023/10/netlab-1-6-4-more-bgp-nerd-knobs.md
Due: md-check, spell-check

New page: ipSpace.net on GitHub
  content/pages/github/main.md
Due: md-check, spell-check

Transcript: early DLL addressing
  content/posts/2023/10/data-link-addressing.md
  static/2023/10/dll-multidrop.png
  static/2023/10/dll-ppp.png
  static/2023/10/dll-slip.png
Due: md-check, spell-check

Moved drafts to November 2023
  content/posts/2023/11/dhcp-relaying-linux-host.md
  content/posts/2023/11/lan-data-link-layer-addressing.md
  content/posts/2023/11/source-ip-address-outgoing-multihomed-traffic.md
  content/posts/2023/11/undo-network-automation.md
Due: md-check, spell-check
