Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Polishing DHCPv6 on Android blog post
  content/posts/2025/09/android-dhcpv6-prefix-delegation.md
Due: md-check, spell-check

Changed the EVPN inter-as-A topology to generate nicer graphs
  content/posts/2025/08/evpn-designs-interas-a.md
  static/2025/08/evpn-inter-as-topology.png
Due: md-check, spell-check

Add BGP session diagram to EVPN inter-AS-A blog post
  content/posts/2025/08/evpn-designs-interas-a.md
  static/2025/08/evpn-inter-as-bgp.png
Due: md-check, spell-check

There's never too much polishing ;)
  content/posts/2025/08/evpn-designs-interas-a.md
  content/posts/2025/09/android-dhcpv6-prefix-delegation.md
Due: md-check, spell-check

EVPN designs: multi-pod fabric
  content/posts/2025/10/evpn-designs-multi-pod.md
  static/2025/10/evpn-multi-pod-bgp.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Fix blog post tags
  content/posts/2025/09/android-dhcpv6-prefix-delegation.md
Due: md-check, spell-check

Master merge + update
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Introducing "graph" netlab tag
  content/posts/2021/09/netsim-tools-graphs.md
  content/posts/2025/09/netlab-graphs-colors-lines.md
  content/posts/2025/09/netlab-graphs-layout.md
  content/tags/netlab/_index.md
Due: md-check, spell-check

Better series title for EVPN multi-pod blog post
  content/posts/2025/10/evpn-designs-multi-pod.md
Due: md-check, spell-check

Move older netlab release notes into 'archive' category
  content/posts/2023/01/netlab-release-1.5.0-large-labs.md
  content/posts/2023/04/netlab-release-1.5.1-vrf-vlan-links.md
  content/posts/2023/05/netlab-release-1.5.2-aruba-tools-components.md
  content/posts/2023/05/netlab-release-1.5.3-libvirt-public-networks.md
  content/posts/2023/06/netlab-release-1.5.4-vjunos.md
  content/posts/2023/08/netlab-1-6-1-bgp-markdown-reports.md
  content/posts/2023/08/netlab-1-6-commands-reports-connectivity.md
  content/posts/2023/10/netlab-1-6-2-more-reports.md
  content/posts/2023/10/netlab-1-6-3-bgp-goodies.md
  content/posts/2023/10/netlab-1-6-4-more-bgp-nerd-knobs.md
Due: md-check, spell-check

New lab: BGP RR on BIRD
  content/posts/2025/10/bgp-labs-bird-rr.md
Due: md-check, spell-check

netlab config.inline attribute
  content/posts/2025/10/netlab-simple-configuration-changes.md
  static/2025/10/config-inline-bgp.png
Due: md-check, spell-check

Master merge + update
  comments/2025/09/android-dhcpv6-prefix-delegation.html
  comments/2025/09/android-dhcpv6-prefix-delegation.json
  data/comment_count.json
  data/popular.json
Due: none

Add anchor to netlab graph section
  content/tags/netlab/_index.md
Due: md-check, spell-check

Master merge + update
  content/archm/2025-10.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

EVPN multi-pod: move the below-the-fold marker
  content/posts/2025/10/evpn-designs-multi-pod.md
Due: md-check, spell-check

Master merge + update
  comments/2025/09/android-dhcpv6-prefix-delegation.html
  comments/2025/09/android-dhcpv6-prefix-delegation.json
  data/popular.json
Due: none

Worth reading: spaghetti networking
  content/posts/2025/10/spaghetti-pasta-networking.md
Due: md-check, spell-check

Working for a vendor with David Gee
  content/posts/2025/10/working-for-vendor-david-gee.md
Due: md-check, spell-check

Move a blog post publication date
  content/posts/2025/10/working-for-vendor-david-gee.md
Due: md-check, spell-check

Troubleshooting multi-pod EVPN
  content/posts/2025/10/troubleshoot-multi-pod-evpn.md
Due: md-check, spell-check

Fix: use the correct time zone in publication date
  content/posts/2025/10/working-for-vendor-david-gee.md
Due: md-check, spell-check

Add podcast RSS feed with itunes tags
  config.yaml
  content/feeds/_index.md
  content/feeds/podcast/_index.md
  layouts/feeds/list.atom.xml
  layouts/feeds/list.rss.xml
Due: yamllint, md-check, spell-check

Tweak HTML escaping in RSS feed
  layouts/feeds/list.rss.xml
Due: none

Fix RSS errors reported by RSS navigator
  layouts/feeds/list.rss.xml
Due: none

Further tweaks to the RSS feed
  layouts/feeds/list.rss.xml
Due: none

Polishing podcast Atom feed
  layouts/feeds/list.atom.xml
Due: none

Fix the main RSS/ATOM feeds
  themes/ipspace/layouts/_default/list.atom.xml
  themes/ipspace/layouts/_default/list.rss.xml
Due: none
