Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Master merge + update
  comments/2026/04/evpn-generating-macip-routes.html
  comments/2026/04/evpn-generating-macip-routes.json
  data/comment_count.json
  data/popular.json
Due: none

Upgraded HTML markup: 2008/0[1234]
  config.yaml
  content/posts/2008/01/configure-default-route-based-on.html
  content/posts/2008/01/copy-text-files-into-router-flash.html
  content/posts/2008/01/define-new-ios-commands-with-alias.html
  content/posts/2008/01/history-of-cisco-cli.html
  content/posts/2008/01/hyperlinked-rfcs.html
  content/posts/2008/01/labor-day.html
  content/posts/2008/01/restart-ios-dhcp-server-after-change-in.html
  content/posts/2008/01/setup-dns-server-in-your-lab.html
  content/posts/2008/01/short-story-of-default-network-command.html
  content/posts/2008/01/telnetssh-session-cannot-be-started.html
  content/posts/2008/01/wan-emulation-toolkit.html
  content/posts/2008/02/differentiating-between-port-scanners.html
  content/posts/2008/02/environment-variables-set-by-eem-applet.html
  content/posts/2008/02/fix-bugs-in-eem-action-cli.html
  content/posts/2008/02/implement-wc-l-in-cisco-ios.html
  content/posts/2008/02/merging-vty-configurations.html
  content/posts/2008/02/reduce-ip-addressing-errors-in-lab.html
  content/posts/2008/02/remove-unwanted-ppp-peer-route.html
  content/posts/2008/02/time-based-bgp-policy-routing.html
  content/posts/2008/02/unconditional-trunking-port-on-catalyst.html
  content/posts/2008/02/use-all-tools-you-have.html
  content/posts/2008/03/copy-file-to-ftp-server-with-eem-applet.html
  content/posts/2008/03/debugging-time-based-configuration.html
  content/posts/2008/03/detect-cpu-spikes-with-embedded.html
  content/posts/2008/03/detect-routers-operating-in-process.html
  content/posts/2008/03/phase-2-upload-text-files-through.html
  content/posts/2008/03/sntp-will-not-work-if-you-configured.html
  content/posts/2008/03/tcl-based-ios-backdoor.html
  content/posts/2008/03/use-eem-to-respond-to-erm-events.html
  content/posts/2008/03/wan-ip-addresses-and-subnet-masks.html
  content/posts/2008/04/display-operational-ipv6-interfaces.html
  content/posts/2008/04/mac-addresses-on-vlan-interfaces.html
  content/posts/2008/04/rfc-3514-implemented-by-asr-series-of.html
Due: yamllint

Upgraded HTML markup: 2008/0[567]
  content/posts/2008/01/labor-day.html
  content/posts/2008/05/bug-in-ios-filter.html
  content/posts/2008/05/cable-modem-problems-with-cisco-871.html
  content/posts/2008/05/control-plane-protection-inbound-packet.html
  content/posts/2008/05/display-cpu-utilization-with-every-show.html
  content/posts/2008/05/global-vrf-option-does-not-exist-in.html
  content/posts/2008/05/please-comment-is-asymmetric-routing.html
  content/posts/2008/05/router-architecture-books.html
  content/posts/2008/05/rtbh-links-and-thanks-for-acronym.html
  content/posts/2008/06/cef-and-mls.html
  content/posts/2008/06/configuring-lines-and-terminals.html
  content/posts/2008/06/control-plane-protection-logging-does.html
  content/posts/2008/06/dns-views-work-with-eem.html
  content/posts/2008/06/fix-do-command.html
  content/posts/2008/06/generate-snmp-trap-on-high-cpu-load.html
  content/posts/2008/06/ios-auto-upgrade.html
  content/posts/2008/06/ppp-default-route.html
  content/posts/2008/06/programming-language-consistency.html
  content/posts/2008/06/simple-extensions-to-exec-mode-cli.html
  content/posts/2008/06/use-explicit-address-family-ipv4-in-bgp.html
  content/posts/2008/06/web-20-presentation.html
  content/posts/2008/07/goodbye-fast-switching-cell-mode-mpls.html
  content/posts/2008/07/interesting-links-2008-07-13.html
  content/posts/2008/07/interesting-links-2008-07-27.html
  content/posts/2008/07/router-configuration-partitioning.html
  content/posts/2008/07/simple-cli-extensions-handling-special.html
  content/posts/2008/07/why-im-no-longer-active-ccie.html
  content/posts/2008/07/wonderful-cisco-ios-documentation.html
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Fix HTML markup: deal with bloggerBody DIV
  tools/fix-html.py
Due: none

Upgraded HTML markup: 2008/0[89]
  content/posts/2008/03/use-eem-to-respond-to-erm-events.html
  content/posts/2008/06/display-bgp-routes-originated-in-local.html
  content/posts/2008/06/display-locally-originated-bgp-routes.html
  content/posts/2008/06/static-dhcp-assignment-for-clients.html
  content/posts/2008/08/ccie-is-devalued-get-real.html
  content/posts/2008/08/dns-view-groups-dont-work-on.html
  content/posts/2008/08/do-you-have-good-reason-to-use-bgp.html
  content/posts/2008/08/identifying-tacacs-failure.html
  content/posts/2008/08/interesting-links-2008-08-10.html
  content/posts/2008/08/is-label-imposed-in-case-of-penultimate.html
  content/posts/2008/08/measure-cable-lengths-on-catalyst.html
  content/posts/2008/08/related-posts-in-ios-hints-blog.html
  content/posts/2008/08/small-enhancement-in-zone-based.html
  content/posts/2008/08/snmp-v3-users-not-shown-in-running.html
  content/posts/2008/08/ssh-works-without-aaa.html
  content/posts/2008/09/are-vlans-safe-in-dmz-environment.html
  content/posts/2008/09/bgp-route-aggregation-followup.html
  content/posts/2008/09/interesting-links-2008-09-14.html
  content/posts/2008/09/interesting-links-2008-09-21.html
  content/posts/2008/09/load-balancing-quirks.html
  content/posts/2008/09/multilink-bundles-have-varying.html
  content/posts/2008/09/quick-tip-display-interface-bandwidth.html
  content/posts/2008/09/quick-tip-display-interface-ip.html
  content/posts/2008/09/send-e-mail-after-router-reload.html
  content/posts/2008/09/some-dhcp-clients-do-not-use-client.html
  content/posts/2008/09/why-is-rip-still-kicking.html
Due: none

Upgraded HTML markup: rest of 2008
  content/posts/2008/09/interesting-links-2008-09-14.html
  content/posts/2008/09/interesting-links-2008-09-21.html
  content/posts/2008/10/aaa-command-authorization-gotchas.html
  content/posts/2008/10/ip-address-lookup.html
  content/posts/2008/10/mpls-on-7600-devil-is-in-details.html
  content/posts/2008/10/ospf-challenge-2-mixing-numbered-and.md
  content/posts/2008/10/specify-mpls-te-bandwidth-as-percentage.html
  content/posts/2008/10/telnet-access-restrictions.html
  content/posts/2008/11/3-reasons-why-i-would-like-to-have-dns.html
  content/posts/2008/11/acl-object-groups.html
  content/posts/2008/11/annotate-your-router-sessions.html
  content/posts/2008/11/becoming-spammer-hands-on-experience.html
  content/posts/2008/11/how-should-i-cover-ace-xml-gateway-and.html
  content/posts/2008/11/interesting-links-2008-11-08.html
  content/posts/2008/11/introduction-to-mpls-qos.html
  content/posts/2008/11/off-topic-disappointed-by-antivirus.html
  content/posts/2008/11/online-sessions-in-december-2008-please.html
  content/posts/2008/11/stuffing-polls-adventures-of-convoluted.html
  content/posts/2008/11/this-is-why-i-dont-trust-experts.html
  content/posts/2008/11/using-hostnames-in-ip-access-lists.html
  content/posts/2008/11/was-it-really-only-century-ago.html
  content/posts/2008/12/mpls-support-on-1800-series-routers.html
  content/posts/2008/12/nat-translation-logging.html
  content/posts/2008/12/online-session-poll-results.html
  content/posts/2008/12/update-interval-for-ios-mib-counters.html
  content/posts/2013/01/juniper-mx-routers-all-you-ever-wanted.html
Due: md-check, spell-check

Upgraded HTML markup: 2009/0[123]
  content/posts/2009/01/decent-dns-dhcp-and-http-server-on-isr.html
  content/posts/2009/01/flash-based-dhcp-database.html
  content/posts/2009/01/hidden-wealth-of-ios-tcl.html
  content/posts/2009/01/i-need-to-slow-down.html
  content/posts/2009/01/interactions-between-ip-routing-and-qos.html
  content/posts/2009/01/things-you-cannot-do-with-tclsh.html
  content/posts/2009/02/connecting-switch-to-itself-does-it.html
  content/posts/2009/02/off-topic-workstation-vulnerability-fud.html
  content/posts/2009/02/online-network-diagram-drawing-tool.html
  content/posts/2009/02/yellow-journalism-at-work-previously.html
  content/posts/2009/03/adsl-overhead.html
  content/posts/2009/03/ah-wonderful-quoting-process.html
  content/posts/2009/03/are-you-willing-to-talk-about-sp.html
  content/posts/2009/03/as-path-incident-bowdlerizer-strikes.html
  content/posts/2009/03/bandwidth-allocation-with-class-based.html
  content/posts/2009/03/blocking-rogue-dhcp-servers.html
  content/posts/2009/03/dont-let-lab-rat-anywhere-near.html
  content/posts/2009/03/fat-finger-follow-up-use-key-labels.html
  content/posts/2009/03/four-byte-as-number-support-in-cisco.html
  content/posts/2009/03/generating-layer-2-broadcast-from.html
  content/posts/2009/03/line-rate-and-bit-rate.html
  content/posts/2009/03/off-topic-marketing-20.html
  content/posts/2009/03/off-topic-search-engine-wars-are-over.html
  content/posts/2009/03/over-million-page-views.html
  content/posts/2009/03/recovering-from-expired-one-time.html
Due: none

Upgraded HTML markup: 2009/0[456]
  content/posts/2009/04/another-green-initiative-from-cisco.html
  content/posts/2009/04/carrier-ethernet-big-picture.html
  content/posts/2009/04/i-hope-you-knew-this-already-backbone.html
  content/posts/2009/04/ios-interface-names.html
  content/posts/2009/04/quick-tip-enable-snmp-traps.html
  content/posts/2009/04/quick-tip-limit-snmp-traps-sent-to-snmp.html
  content/posts/2009/04/secondary-subnets-limitation.html
  content/posts/2009/04/true-or-false-mpls-vpns-offer.html
  content/posts/2009/04/why-are-there-no-untagged-entries-in-my.html
  content/posts/2009/05/another-bgp-near-miss.html
  content/posts/2009/05/bgp-basics-bgp-communities-propagation.html
  content/posts/2009/05/follow-my-links-on-facebook.html
  content/posts/2009/05/how-is-device-throughput-defined.html
  content/posts/2009/05/round-robin-nat-any-ideas.html
  content/posts/2009/05/ssh-timeouts.html
  content/posts/2009/05/what-does-event-none-in-eem-applet-mean.html
  content/posts/2009/06/atm-is-like-duck.html
  content/posts/2009/06/autocommands-in-aaa-environment.html
  content/posts/2009/06/avoid-prompts-generated-by-copy-command.html
  content/posts/2009/06/help-appreciated-touch-screen-drawing.html
  content/posts/2009/06/internet-anarchy-ill-advertise-whatever.html
  content/posts/2009/06/internet-socialism-all-i-can-eat.html
  content/posts/2009/06/ios-http-vulnerability.html
  content/posts/2009/06/new-wireless-dos-attacks-maybe-not.html
  content/posts/2009/06/quick-tip-matching-default-route-in.html
  content/posts/2009/06/there-is-no-local-command-authorization.html
  content/posts/2009/06/what-went-wrong-atm.html
Due: none

Fix HTML markup: Do not panic over "newline" strings
  tools/fix-html.py
Due: none

Upgraded HTML markup: 2009/0[789]
  content/posts/2009/07/cisco-ios-hints-available-on-kindle.html
  content/posts/2009/07/drawing-diagrams.html
  content/posts/2009/07/followup-all-i-can-eat.html
  content/posts/2009/07/followup-vlan-interface-status.html
  content/posts/2009/07/netflix-summary.html
  content/posts/2009/07/not-all-interfaces-are-created-equal.html
  content/posts/2009/07/pe-to-pe-ipsec-do-you-have-creative.html
  content/posts/2009/07/question-everything.html
  content/posts/2009/07/quick-tip-vlan-interface-status.html
  content/posts/2009/07/summer-schedule.html
  content/posts/2009/07/what-is-ctunnel-interface.html
  content/posts/2009/08/blackhat-2009-router-exploitation.html
  content/posts/2009/08/broadband-traffic-management.html
  content/posts/2009/08/what-went-wrong-sctp.html
  content/posts/2009/09/back-from-vacation.html
  content/posts/2009/09/carrier-ethernet-service-from-customers.html
  content/posts/2009/09/deploying-ipv6-in-enterprise-networks.html
  content/posts/2009/09/display-rejected-bgp-routes.html
  content/posts/2009/09/fishing-for-free-information-ultimate.html
  content/posts/2009/09/tunneling-kool-aid.html
Due: none

Tool: Remove empty paragraphs from HTML markup
  tools/fix-html-2p.py
Due: none

Finalize HTML cleanup
  content/posts/2009/10/ios-release-150.html
  content/posts/2009/10/what-went-wrong-tcp-lives-in-dial-up.html
  content/posts/2009/11/twitter.html
  content/posts/2010/02/highly-recommended-confessions-of.html
  content/posts/2010/02/understanding-mstp.html
  content/posts/2010/03/snmp-over-xml-over-http.html
  content/posts/2010/04/essence-of-wireless.html
  content/posts/2010/06/integration-layer.html
  content/posts/2010/09/virtual-aggregation-quick-fix-for.html
  content/posts/2010/11/cisco-ios-login-enhancements-are-not.html
  content/posts/2013/02/evolution-of-ip-model.html
  content/posts/2013/03/keep-your-applications-running-on-ipv6.html
  content/posts/2013/03/start-reading-v6ops-documents.html
  content/posts/2015/02/must-bookmark-nsx-link-o-rama.html
  content/posts/2015/03/common-misconceptions-about-sdn.html
  content/posts/2015/03/ipv6-cheat-sheet.html
  content/posts/2015/04/ipv6-is-20-years-old.html
  content/posts/2015/08/enterprise-ipv6-adoption-explained.html
  content/posts/2016/02/who-said-what-in-sdn-quiz.html
  content/posts/2016/09/questions-about-network-automation.html
  content/posts/2016/10/survey-on-ixp-routing-and-privacy.html
  content/posts/2017/09/collect-ssh-keys-with-ansible.html
  content/posts/2018/02/upcoming-ipspacenet-events.html
  tools/fix-html.py
Due: none

Fix a link to SOHO multihoming article
  content/posts/2007/02/reliable-static-routing.html
Due: none

Master merge + update
  comments/2026/04/evpn-generating-macip-routes.html
  comments/2026/04/evpn-generating-macip-routes.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/04/evpn-generating-macip-routes.html
  comments/2026/04/evpn-generating-macip-routes.json
Due: none

Master merge + update
  comments/2026/04/netlab-generate-device-configs.html
  comments/2026/04/netlab-generate-device-configs.json
  data/comment_count.json
  data/popular.json
Due: none

Add 'remove tag' functionality to blog tagging script
  tools/series-tag-post.py
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

SwiNOG summary
  content/posts/2026/05/swinog-41.md
Due: md-check, spell-check

ARP/MAC aging timers
  content/posts/2026/05/arp-mac-aging-timers.md
Due: md-check, spell-check

Remove link to ancient About page
  content/posts/2007/08/frame-relay-congestion-management.html
Due: none

Remove ancient mturoute utility
  content/posts/2007/09/mturoute-utility-that-measures-hop-by.html
  content/posts/2007/09/update-mturoute.html
  content/posts/2007/10/mturoute-ping-mode-output.html
  content/posts/2007/10/mturoute-trace-mode-output.html
Due: none

Fix Tcl download links
  content/posts/2007/05/use-tcl-script-to-change-interface.html
  content/posts/2007/06/ip-interface-command-i-always-wanted-to.html
  content/posts/2007/09/dns-resolver-package-for-ios-tcl.html
  content/posts/2007/10/display-ip-packet-filters-attached-to.html
  content/posts/2007/10/tabular-display-of-interface-mtus.html
  content/posts/2008/03/display-names-of-configured-route-maps.md
  content/posts/2008/03/phase-2-upload-text-files-through.html
Due: md-check, spell-check

Update ipSpace GitHub repo list
  content/pages/github/main.md
Due: md-check, spell-check

Fixing a typo
  content/pages/github/main.md
Due: md-check, spell-check

Reshuffling blog posts
  content/posts/2026/05/arp-issues-evpn-central-routing.md
  content/posts/2026/05/swinog-41.md
Due: md-check, spell-check

Add Tcl scripts to static resources
  static/tcl/displayMTU.tcl
  static/tcl/dlci.tcl
  static/tcl/ifchange.tcl
  static/tcl/index.xml
  static/tcl/ipInterfaces.tcl
  static/tcl/ospfExternals.tcl
  static/tcl/ospfNeighbors.tcl
  static/tcl/packageDns.zip
  static/tcl/packetFilters.tcl
  static/tcl/routeMaps.tcl
  static/tcl/storeFile.tcl
Due: none

Fix: Use '_' in CLI tag parameters to match tags with spaces
  tools/tag_filter.py
Due: none

Fix: Reimplement series weight sorting
  config.yaml
  themes/ipspace/layouts/shortcodes/series-listing.html
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
