Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Add ToC to netlab tag page
  content/tags/netlab/_index.md
  layouts/shortcodes/toc.html
Due: md-check, spell-check

How ARP kills a static route
  content/posts/2025/04/static-routes-arp.md
  static/2025/04/arp-static-multiple.png
  static/2025/04/arp-static-single.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

sysctl hack to fix Linux ARP behavior
  content/posts/2025/04/static-routes-arp.md
Due: md-check, spell-check

Master merge + update
  comments/2025/04/netlab-exec.html
  comments/2025/04/netlab-exec.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/04/response-nat-traversal.html
  comments/2025/04/response-nat-traversal.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2025/04/netlab-exec.html
  comments/2025/04/netlab-exec.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/04/rant-should-have-written-a-book.html
  comments/2025/04/rant-should-have-written-a-book.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/04/rant-should-have-written-a-book.html
  comments/2025/04/rant-should-have-written-a-book.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2022/06/mlag-active-active-layer3.html
  comments/2022/06/mlag-active-active-layer3.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/04/static-routes-arp.html
  comments/2025/04/static-routes-arp.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/04/static-routes-arp.html
  comments/2025/04/static-routes-arp.json
  data/popular.json
Due: none

BGP unnumbered IPv6 next-hop SNAFU
  content/posts/2025/04/worth-reading-bgp-unnumbered-2025.md
Due: md-check, spell-check

Transcript: routing/bridging terminology
  content/posts/2024/01/routing-protocols-videos.md
  content/posts/2024/03/routing-protocol-videos.md
  content/posts/2025/04/bridging-routing-switching-terminology.md
  static/2025/04/rbs-terminology-layers.png
  static/2025/04/rbs-terminology-planes.png
  static/2025/04/rbs-terminology-process.png
Due: md-check, spell-check

Master merge + update
  comments/2025/04/worth-reading-bgp-unnumbered-2025.html
  comments/2025/04/worth-reading-bgp-unnumbered-2025.json
  data/comment_count.json
  data/popular.json
Due: none

Forwarding packets across the network
  content/posts/2025/04/bridging-routing-switching-terminology.md
  content/posts/2025/05/forwarding-packets-across-network.md
  static/2025/05/rbs-forwarding-cable.png
  static/2025/05/rbs-forwarding-diagram.png
  static/2025/05/rbs-forwarding-hbh.png
  static/2025/05/rbs-forwarding-source-label.png
  static/2025/05/rbs-forwarding-source-rtg.png
  static/2025/05/rbs-forwarding-source-vc.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2025/04/worth-reading-bgp-unnumbered-2025.html
  comments/2025/04/worth-reading-bgp-unnumbered-2025.json
  data/comment_count.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Update: ChatGPT and BGP routing security
  content/posts/2019/11/stretched-layer-2-subnets-in-azure.md
  content/posts/2023/03/chatgpt-bgp-routing-security.md
  static/2023/03/chatgpt-bgp-2025-1.png
  static/2023/03/chatgpt-bgp-2025-2.png
Due: md-check, spell-check

Time for a few rants ;)
  content/posts/2025/04/api-data-model-contract.md
  content/posts/2025/04/chatgpt-ospf-area-ranges.md
Due: md-check, spell-check

Cleanup of the "breaking data model" blog post
  content/posts/2025/04/api-data-model-contract.md
Due: md-check, spell-check

OSPF summary LSA loop prevention
  content/posts/2025/04/ospf-summary-lsa-loop-prevention.md
  static/2025/04/ospf-summary-lsa-topo.png
Due: md-check, spell-check

Another layer of polish on the breaking data model rant
  content/posts/2025/04/api-data-model-contract.md
Due: md-check, spell-check

Master merge + update
  comments/2025/04/chatgpt-ospf-area-ranges.html
  comments/2025/04/chatgpt-ospf-area-ranges.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2025/04/chatgpt-ospf-area-ranges.html
  comments/2025/04/chatgpt-ospf-area-ranges.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/04/bridging-routing-switching-terminology.html
  comments/2025/04/bridging-routing-switching-terminology.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2025/04/api-data-model-contract.html
  comments/2025/04/api-data-model-contract.json
  data/comment_count.json
  data/popular.json
Due: none

Minor fixes: SR Linux uses data model for CLI configuration
  content/posts/2025/04/api-data-model-contract.md
Due: md-check, spell-check

Master merge + update
  comments/2025/04/api-data-model-contract.html
  comments/2025/04/api-data-model-contract.json
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
