Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Master merge + update
  comments/2023/05/goodbye-twitter.html
  comments/2023/05/goodbye-twitter.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/05/failure-detection-server-dual-homing.html
  comments/2023/05/failure-detection-server-dual-homing.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2023/05/goodbye-twitter.html
  comments/2023/05/goodbye-twitter.json
  data/comment_count.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Fix the "link sharing" partial
  content/posts/2023/05/ntp-in-a-nutshell.md
  themes/ipspace/layouts/partials/post-share.html
Due: md-check, spell-check

Master merge + update
  comments/2023/05/failure-detection-server-dual-homing.html
  comments/2023/05/failure-detection-server-dual-homing.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  content/archm/2023-06.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Master merge + update
  comments/2023/06/multicast-source-address.html
  comments/2023/06/multicast-source-address.json
  data/comment_count.json
  data/popular.json
Due: none

Fixed the RPF part of "abusing IP multicast" blog posts
  content/posts/2023/06/multicast-source-address.md
Due: md-check, spell-check

Forgot to add lastmod field to multicast-source-address.md
  content/posts/2023/06/multicast-source-address.md
Due: md-check, spell-check

Fixing AS-path filter typos
  content/kb/tag/BGP/Filter_Excessively_Prepended_BGP_Paths.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Blog posts for the week of June 5th
  content/posts/2023/06/default-ebgp-policy-rfc-8212.md
  content/posts/2023/06/distributed-systems-resources.md
  content/posts/2023/06/lacp-fast-timers.md
  content/posts/2023/06/worth-reading-building-with-llm-is-hard.md
  content/posts/2023/06/worth-reading-spoofing-icmp-redirects.md
  static/2023/06/ebgp-policy.png
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Update: FRR no longer supports RFC8212 with default settings
  content/posts/2023/06/default-ebgp-policy-rfc-8212.md
Due: md-check, spell-check

Master merge + update
  comments/2023/06/default-ebgp-policy-rfc-8212.html
  comments/2023/06/default-ebgp-policy-rfc-8212.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/05/failure-detection-server-dual-homing.html
  comments/2023/05/failure-detection-server-dual-homing.json
Due: none

Added "uplink failure detection" article to multihoming series
  content/posts/2023/05/failure-detection-server-dual-homing.md
  content/series/multihoming/_index.md
Due: md-check, spell-check

Added the missing "video blog post"
  content/posts/2023/06/video-sdwan-security.md
Due: md-check, spell-check

Blog posts for the week of June 12th (part 1)
  content/posts/2023/06/bgp-leak-lab.md
  content/posts/2023/06/bgp-route-leak-classification.md
  content/posts/2023/06/eigrp-stub-routers.md
  content/posts/2023/06/learn-routing-protocols-frr.md
  content/posts/2023/06/worth-reading-blogging-myths.md
  content/posts/2023/06/worth-reading-primer-communication-fundamentals.md
  static/2023/06/bgp-leak-topology.png
  static/2023/06/leak-practice-lab.png
Due: md-check, spell-check

Master merge + update
  comments/2023/06/default-ebgp-policy-rfc-8212.html
  comments/2023/06/default-ebgp-policy-rfc-8212.json
Due: none

Link to improved FRR documentation
  content/posts/2023/06/default-ebgp-policy-rfc-8212.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2023/05/failure-detection-server-dual-homing.html
  comments/2023/05/failure-detection-server-dual-homing.json
  data/popular.json
Due: none

Introducing netlab release 1.5.4 (and shifting other stuff)
  content/posts/2023/06/bgp-leak-lab.md
  content/posts/2023/06/bgp-route-leak-classification.md
  content/posts/2023/06/eigrp-stub-routers.md
  content/posts/2023/06/evpn-vxlan-wan-network.md
  content/posts/2023/06/netlab-release-1.5.4-vjunos.md
Due: md-check, spell-check

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
