Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Master merge + update
  comments/2024/03/frr-rib-fib.html
  comments/2024/03/frr-rib-fib.json
  data/popular.json
Due: none

Added a hint about Arista EOS 'ip routing ipv6 interfaces' command
  content/posts/2024/03/arista-interface-ebgp.md
Due: md-check, spell-check

Master merge + update
  comments/2024/03/bgp-labs-stop-configuration-errors.html
  comments/2024/03/bgp-labs-stop-configuration-errors.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2023/10/ultra-ethernet.html
  comments/2023/10/ultra-ethernet.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2024/03/bgp-labs-stop-configuration-errors.html
  comments/2024/03/bgp-labs-stop-configuration-errors.json
Due: none

Master merge + update
  comments/2024/03/arista-interface-ebgp.html
  comments/2024/03/arista-interface-ebgp.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2024/03/arista-interface-ebgp.html
  comments/2024/03/arista-interface-ebgp.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/03/arista-interface-ebgp.html
  comments/2024/03/arista-interface-ebgp.json
  data/popular.json
Due: none

A bunch of somewhat ranty blog posts
  content/posts/2024/03/netlab-fabric-plugin.md
  content/posts/2024/04/firewall-ha-theater.md
  content/posts/2024/04/ipv6-slaac-unintended-consequences.md
  content/posts/2024/04/sr-mpls-security-framework.md
Due: md-check, spell-check

Copying shortcodes from IPSPACE theme to MINIMAL theme
  themes/minimal/layouts/shortcodes/ascii.html
  themes/minimal/layouts/shortcodes/code.html
  themes/minimal/layouts/shortcodes/next-in-series.html
  themes/minimal/layouts/shortcodes/page-count.html
  themes/minimal/layouts/shortcodes/printout.html
  themes/minimal/layouts/shortcodes/quote.html
  themes/minimal/layouts/shortcodes/series-listing.html
  themes/minimal/layouts/shortcodes/series-untagged.html
  themes/minimal/layouts/shortcodes/sup.html
  themes/minimal/layouts/shortcodes/tldr.html
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2024/03/worth-reading-what-we-know-about-queues.html
  comments/2024/03/worth-reading-what-we-know-about-queues.json
  data/comment_count.json
  data/popular.json
Due: none

More blog posts for the week of March 25th
  content/posts/2024/03/bgp-labs-default-route.md
  content/posts/2024/03/evpn-service-insertion-videos.md
  static/2024/03/dalle-evpn-fabric.jpg
Due: md-check, spell-check

Master merge + update
  comments/2024/03/arista-interface-ebgp.html
  comments/2024/03/arista-interface-ebgp.json
Due: none

Master merge + update
  comments/2021/09/non-stop-forwarding.html
  comments/2021/09/non-stop-forwarding.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2021/09/non-stop-forwarding.html
  comments/2021/09/non-stop-forwarding.json
Due: none

First blog posts for the week of April 1st
  content/posts/2024/04/repost-ebgp-only-sp-network.md
  content/posts/2024/04/repost-focus-99-percent.md
  content/posts/2024/04/spb-trill-evpn.md
Due: md-check, spell-check

Why is LISP not better than EVPN
  content/posts/2024/04/mobility-campus-networks-lisp-evpn.md
  static/2024/04/juniper-campus-lisp-tweet.png
  static/2024/04/wifi-roaming-latency-tweet.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Master merge + update
  comments/2024/03/routing-protocols-osi-layers.html
  comments/2024/03/routing-protocols-osi-layers.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/03/routing-protocols-osi-layers.html
  comments/2024/03/routing-protocols-osi-layers.json
Due: none

Move CSS changes into common CSS file
  themes/ipspace/layouts/partials/header.html
  themes/ipspace/layouts/shortcodes/ascii.html
  themes/ipspace/layouts/shortcodes/printout.html
Due: none

Use wemulate with netlab
  content/posts/2024/04/netlab-wemulate.md
Due: md-check, spell-check

Stop the NBAR nonsense
  content/posts/2024/04/quic-nbar-ai-nonsense.md
Due: md-check, spell-check

Master merge + update
  comments/2024/03/routing-protocols-osi-layers.html
  comments/2024/03/routing-protocols-osi-layers.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

BGP lab: BGP-free MPLS core
  content/posts/2024/04/bgp-labs-mpls-core.md
Due: md-check, spell-check

Ignore text files in draft folder
  .gitignore
Due: none

Worth reading: cybersecurity is broken
  content/posts/2024/04/worth-reading-cybersecurity-broken.md
Due: md-check, spell-check

FRRouting loopback OSPF cost is zero
  content/posts/2024/04/frr-loopback-ospf-cost.md
Due: md-check, spell-check

Master merge + update
  comments/2024/03/netlab-fabric-plugin.html
  comments/2024/03/netlab-fabric-plugin.json
  data/comment_count.json
  data/popular.json
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
