Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Public EVPN videos
  content/posts/2025/11/video-evpn-bridging.md
Due: md-check, spell-check

Added missing tags
  content/posts/2025/11/video-evpn-bridging.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Add IP multicast lab topology diagram
  content/posts/2025/11/worth-reading-netlab-multicast.md
  static/2025/11/multicast-topo.jpg
Due: md-check, spell-check

OSPFv3 router-id Arista EOS documentation
  content/posts/2025/11/arista-eos-ospfv3-router-id.md
  content/posts/2025/12/worth-reading-technical-writing.md
  static/2025/11/arista-eos-ospfv3-cfg.png
  static/2025/11/arista-eos-ospfv3-router-id.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Master merge + update
  comments/2025/11/ansible-12-different.html
  comments/2025/11/ansible-12-different.json
  data/popular.json
Due: none

IOS/XR redistribute configuration mess
  content/posts/2025/11/iosxr-redistribute-config-mess.md
Due: md-check, spell-check

EVPN troubleshooting: route targets
  content/posts/2025/11/evpn-multi-pod-tshoot-example.md
  content/posts/2025/11/evpn-multi-pod-tshoot-rt.md
Due: md-check, spell-check

Fix: Add "size" parameter to long-quote to create smaller text
  themes/ipspace/layouts/shortcodes/long-quote.html
Due: none

netlab as configuration translator
  content/posts/2025/11/netlab-configuration-translator.md
Due: md-check, spell-check

Master merge + update
  comments/2025/11/iosxr-redistribute-config-mess.html
  comments/2025/11/iosxr-redistribute-config-mess.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/11/iosxr-redistribute-config-mess.html
  comments/2025/11/iosxr-redistribute-config-mess.json
Due: none

From XML to LLMs
  content/posts/2025/11/worth-reading-xml-to-llm.md
Due: md-check, spell-check

Master merge + update
  comments/2025/11/worth-reading-netlab-multicast.html
  comments/2025/11/worth-reading-netlab-multicast.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/11/worth-reading-netlab-multicast.html
  comments/2025/11/worth-reading-netlab-multicast.json
  data/popular.json
Due: none

Lab: IS-IS route redistribution
  content/posts/2025/11/isis-route-redistribution.md
  content/posts/2025/12/netlab-configuration-translator.md
Due: md-check, spell-check

Master merge + update
  comments/2025/11/worth-reading-netlab-multicast.html
  comments/2025/11/worth-reading-netlab-multicast.json
Due: none

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  content/archm/2025-12.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Multi-pod troubleshooting: missing extended communities
  content/posts/2025/11/evpn-multi-pod-tshoot-rt.md
  content/posts/2025/12/evpn-multi-pod-tshoot-xc.md
Due: md-check, spell-check

Lab: Complex VXLAN deployment
  content/posts/2025/12/vxlan-complex.md
Due: md-check, spell-check

Master merge + update
  comments/2025/12/worth-reading-ai-ml-data-center-design.html
  comments/2025/12/worth-reading-ai-ml-data-center-design.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/11/arista-eos-ospfv3-router-id.html
  comments/2025/11/arista-eos-ospfv3-router-id.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/11/arista-eos-ospfv3-router-id.html
  comments/2025/11/arista-eos-ospfv3-router-id.json
Due: none
