Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Repost: What is netlab
  content/posts/2026/04/worth-reading-what-is-netlab.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  content/archm/2026-04.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

IS-IS lab: L1->L2 summarization
  content/posts/2026/04/isis-summary.md
Due: md-check, spell-check

EVPN/VXLAN-over-IPv6 interoperability challenges
  content/posts/2026/04/frr-evpn-ipv6-pmsi.md
Due: md-check, spell-check

Worth reading: Lab-as-Code (plus reshuffling)
  content/posts/2026/04/worth-reading-ai-lost-knowledge.md
  content/posts/2026/04/worth-reading-lab-as-code.md
  content/posts/2026/04/worth-reading-what-is-netlab.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
Due: none

Master merge + update
  comments/2026/04/frr-evpn-ipv6-pmsi.html
  comments/2026/04/frr-evpn-ipv6-pmsi.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/04/frr-evpn-ipv6-pmsi.html
  comments/2026/04/frr-evpn-ipv6-pmsi.json
Due: none

Master merge + update
  comments/2024/09/evpn-designs-ibgp-rr.html
  comments/2024/09/evpn-designs-ibgp-rr.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/09/evpn-designs-ibgp-rr.html
  comments/2024/09/evpn-designs-ibgp-rr.json
  data/popular.json
Due: none

Migrating to Hugo 0.160.0
  config.yaml
  layouts/feeds/list.atom.xml
  layouts/partials/kb-section-bottom.html
  layouts/partials/kb-section-intro.html
  themes/ipspace/layouts/_default/list.atom.xml
  themes/ipspace/layouts/partials/body-footer.html
  themes/ipspace/layouts/partials/disqus.html
  themes/ipspace/layouts/partials/post-content.html
  themes/ipspace/layouts/partials/post-prev-next.html
  themes/ipspace/layouts/partials/sidebar-featured.html
  themes/ipspace/layouts/partials/sidebar-popular.html
  themes/ipspace/layouts/posts/single.html
  themes/ipspace/layouts/series/top.html
Due: yamllint

Fixing content issues
  content/posts/2009/03/ebgp-load-balancing-with-multihop-ebgp.md
  content/posts/2009/12/iscsi-and-san-two-decades-of-rigid.md
  styles/config/vocabularies
Due: md-check, spell-check

Docker 101 videos
  content/posts/2026/04/docker-101-videos.md
  static/2026/04/containers.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  snippets/archive-sidebar.html
Due: none

Testing FRR PRs with netlab
  content/posts/2026/04/frr-pr-testing.md
Due: md-check, spell-check

FRR EVPN bug has been fixed
  content/posts/2026/04/frr-evpn-ipv6-pmsi.md
Due: md-check, spell-check

Master merge + update
  comments/2026/04/frr-evpn-ipv6-pmsi.html
  comments/2026/04/frr-evpn-ipv6-pmsi.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/04/worth-reading-ai-shameless-guesses.html
  comments/2026/04/worth-reading-ai-shameless-guesses.json
  data/comment_count.json
Due: none

More info: SR Linux config conversion scripts
  content/posts/2026/04/srlinux-config-conversion.md
Due: md-check, spell-check

netlab release 26.04
  content/posts/2026/04/netlab-26-04.md
  content/posts/2026/04/worth-reading-lab-as-code.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2026/01/worth-reading-bgp-first-18-years.html
  comments/2026/01/worth-reading-bgp-first-18-years.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/11/arista-eos-ospfv3-router-id.html
  comments/2025/11/arista-eos-ospfv3-router-id.json
  data/popular.json
Due: none

Cisco and Arista OSPFv3 router-id documentation has been fixed
  content/posts/2025/10/ospf-automatic-router-id.md
  content/posts/2025/11/arista-eos-ospfv3-router-id.md
Due: md-check, spell-check

Master merge + update
  comments/2026/04/worth-reading-what-is-netlab.html
  comments/2026/04/worth-reading-what-is-netlab.json
  data/comment_count.json
  data/popular.json
Due: none

Lab: IRB with EVPN MAC-VRF instances
  content/posts/2026/04/lab-evpn-irb.md
Due: md-check, spell-check
