Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  comments/2024/01/bgp-graceful-restart-harmful.html
  comments/2024/01/bgp-graceful-restart-harmful.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2024/01/bgp-graceful-restart-harmful.html
  comments/2024/01/bgp-graceful-restart-harmful.json
Due: none

Master merge + update
  comments/2023/09/lifetime-ipspace-subscription.html
  comments/2023/09/lifetime-ipspace-subscription.json
  data/popular.json
Due: none

BGP labs: Use FRR and Cumulus Linux
  content/posts/2024/01/bgp-labs-use-cumulus-frr.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2023/11/bgp-med-saga.html
  comments/2023/11/bgp-med-saga.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2023/09/lifetime-ipspace-subscription.html
  comments/2023/09/lifetime-ipspace-subscription.json
Due: none

Master merge + update
  comments/2024/01/bgp-graceful-restart-harmful.html
  comments/2024/01/bgp-graceful-restart-harmful.json
  data/comment_count.json
  data/popular.json
Due: none

Podcast: SSoT
  content/posts/2024/01/podcast-source-truth.md
Due: md-check, spell-check

Master merge + update
  comments/2024/01/bgp-graceful-restart-harmful.html
  comments/2024/01/bgp-graceful-restart-harmful.json
  data/popular.json
Due: none

A new blog post and a bit of a cleanup
  content/posts/2013/11/cisco-nexus-9000-and-aci-promising-pv.html
  content/posts/2015/02/big-cloud-fabric-scaling-openflow-fabric.html
  content/posts/2015/11/blogging-rule1-be-useful.html
  content/posts/2024/01/vmware-nsx-availability-zones.md
Due: md-check, spell-check

Master merge + update
  comments/2023/09/lifetime-ipspace-subscription.html
  comments/2023/09/lifetime-ipspace-subscription.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/09/lifetime-ipspace-subscription.html
  comments/2023/09/lifetime-ipspace-subscription.json
  data/comment_count.json
Due: none

Public videos: Kubernetes CNI
  content/posts/2024/01/kubernetes-cni-videos.md
  static/2024/01/dalle-cni.jpeg
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  data/popular.json
Due: none

BGP lab: AS override
  content/posts/2024/01/bgp-labs-as-override.md
  content/posts/2024/01/undo-network-automation.md
Due: md-check, spell-check

Master merge + update
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Ansible extra variables
  content/posts/2024/01/ansible-extra-variable-precedence.md
  content/posts/2024/02/undo-network-automation.md
Due: md-check, spell-check

Master merge + update
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Master merge + update
  comments/2023/11/worth-reading-going-ccnp-emeritus.html
  comments/2023/11/worth-reading-going-ccnp-emeritus.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2022/03/bgp-igp-enterprise-network.html
  comments/2022/03/bgp-igp-enterprise-network.json
  data/popular.json
Due: none

Master merge + update
  comments/2022/03/bgp-igp-enterprise-network.html
  comments/2022/03/bgp-igp-enterprise-network.json
Due: none

BGP lab: Local AS
  content/posts/2024/02/bgp-labs-local-as.md
Due: md-check, spell-check

Master merge + update
  content/archm/2024-02.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Removing FRRouting configuration
  content/posts/2024/02/frr-bgp-prefix-origination.md
Due: md-check, spell-check

Fixing a typo
  content/posts/2024/02/frr-bgp-prefix-origination.md
Due: md-check, spell-check

Master merge + update
  comments/2024/02/frr-bgp-prefix-origination.html
  comments/2024/02/frr-bgp-prefix-origination.json
  data/comment_count.json
  data/popular.json
Due: none
