Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Blog posts for the week of May 19th 2025
  content/posts/2025/05/chatgpt-isis-unnumbered.md
  content/posts/2025/05/multi-layer-switching-tunneling.md
  content/posts/2025/05/true-unnumbered-interfaces.md
  content/posts/2025/05/worth-reading-practical-advice-engineers.md
  static/2025/05/chatgpt-isis-unnumbered.png
  static/2025/05/mls-loose-source-routing.png
  static/2025/05/mls-overview.png
  static/2025/05/mls-tunneling.png
Due: md-check, spell-check

Master merge + update
  comments/2025/02/tagged-vlan-1.html
  comments/2025/02/tagged-vlan-1.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2024/10/mpls-vpn-prefix-vrf-labels.html
  comments/2024/10/mpls-vpn-prefix-vrf-labels.json
  data/comment_count.json
  data/popular.json
Due: none

Fixing a sed filter (because I can't read documentation)
  tools/blog-util.sh
Due: none

Nokia SR Linux bug fixes (plus blog post reordering)
  content/posts/2025/05/chatgpt-isis-unnumbered.md
  content/posts/2025/05/multi-layer-switching-tunneling.md
  content/posts/2025/05/nokia-srlinux-bug-fixes.md
  content/posts/2025/05/repost-xml-advantages.md
  content/posts/2025/05/true-unnumbered-interfaces.md
  content/posts/2025/05/worth-reading-practical-advice-engineers.md
Due: md-check, spell-check

Polishing ;)
  content/posts/2025/05/nokia-srlinux-bug-fixes.md
Due: md-check, spell-check

Missing summary break
  content/posts/2025/05/repost-xml-advantages.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

netlab intro video by Ethan Banks (plus reshuffling)
  content/posts/2025/05/ethan-banks-netlab-intro.md
  content/posts/2025/05/multi-layer-switching-tunneling.md
Due: md-check, spell-check

mybridge -> bridge mode
  content/posts/2025/05/netlab-custom-bridges.md
Due: md-check, spell-check

Typo fix: mybridge -> bridge mode (#20)
  content/posts/2025/05/netlab-custom-bridges.md
Due: md-check, spell-check

Master merge + update
  comments/2025/04/static-routes-arp.html
  comments/2025/04/static-routes-arp.json
  data/comment_count.json
  data/popular.json
Due: none

ArubaCX cannot count on more than 16 fingers
  content/posts/2025/05/arubacx-vxlan-vni-arp.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2025/05/repost-xml-advantages.html
  comments/2025/05/repost-xml-advantages.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2025/05/repost-xml-advantages.html
  comments/2025/05/repost-xml-advantages.json
Due: none

Master merge + update
  comments/2025/05/repost-xml-advantages.html
  comments/2025/05/repost-xml-advantages.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/05/screen-scraping-2025.html
  comments/2025/05/screen-scraping-2025.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/05/nokia-srlinux-bug-fixes.html
  comments/2025/05/nokia-srlinux-bug-fixes.json
  data/comment_count.json
  data/popular.json
Due: none

Fix: add a link to VXLAN integration tests
  content/posts/2025/05/arubacx-vxlan-vni-arp.md
Due: md-check, spell-check

Cumulus Linux -> NVIDIA AIR
  content/posts/2025/06/cumulus-linux-gone.md
Due: md-check, spell-check

A bunch of "worth reading" blog posts
  content/posts/2025/06/bootstrapping-https.md
  content/posts/2025/06/juniper-mx-jumbo-frames.md
  content/posts/2025/06/netconf-tooling.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
Due: none

Master merge + update
  content/archm/2025-06.md
  data/archive.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Fix: use .ByDate sort for Recent Posts
  themes/ipspace/layouts/partials/post-related.html
Due: none

Fix: Add 'next-in-series' tags to switching articles
  content/posts/2025/04/bridging-routing-switching-terminology.md
  content/posts/2025/05/forwarding-packets-across-network.md
  content/posts/2025/05/multi-layer-switching-tunneling.md
  content/tags/networking-fundamentals/_index.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Finding paths across the network
  content/posts/2025/06/finding-paths-across-network.md
  static/2025/06/np-diagram.png
  static/2025/06/np-source-routing.png
Due: md-check, spell-check

Master merge + update
  comments/2025/06/cumulus-linux-gone.html
  comments/2025/06/cumulus-linux-gone.json
  data/comment_count.json
  data/popular.json
Due: none
