Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Remove old GA script
  themes/ipspace/layouts/partials/header.html
Due: none

Master merge + update
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/worth-reading-linux-router-180gbps.html
  comments/2023/04/worth-reading-linux-router-180gbps.json
  data/popular.json
Due: none

Master merge + update
  comments/2008/08/bgp-route-reflector-details.html
  comments/2008/08/bgp-route-reflector-details.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2008/08/bgp-route-reflector-details.html
  comments/2008/08/bgp-route-reflector-details.json
Due: none

Adding links to an old BGP RR blog post
  content/posts/2008/08/bgp-route-reflector-details.md
Due: md-check, spell-check

Worth reading: tcconfig Python package
  content/posts/2023/07/worth-reading-linux-wan-link-impairment.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Master merge + update
  comments/2023/06/missing-ip-source-address.html
  comments/2023/06/missing-ip-source-address.json
  data/comment_count.json
  data/popular.json
Due: none

Add a link to Lima
  content/posts/2022/02/ubuntu-mac-m1.md
Due: md-check, spell-check

Links to two additional AI tools
  content/tags/ai/_index.md
Due: md-check, spell-check

A few "worth reading" blog posts
  content/posts/2023/07/mptcp-resources.md
  content/posts/2023/07/worth-reading-eyes-like-saucers.md
Due: md-check, spell-check

Worth reading: MP-TCP in hybrid access networks
  content/posts/2023/07/worth-reading-mptcp-hybrid-access-networks.md
Due: md-check, spell-check

Master merge + update
  comments/2023/07/worth-reading-eyes-like-saucers.html
  comments/2023/07/worth-reading-eyes-like-saucers.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2022/05/fibre-channel-2022.html
  comments/2022/05/fibre-channel-2022.json
  data/popular.json
Due: none

Netlab release 1.6.0
  content/posts/2023/08/netlab-1-6-commands-reports-connectivity.md
  static/images/plushy-angry.png
  static/images/plushy-idea.png
Due: md-check, spell-check

Master merge + update
  content/archm/2023-08.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Remove banner and top-menu link to workshops
  themes/ipspace/layouts/partials/body-banner.html
  themes/ipspace/layouts/partials/body-navigation.html
Due: none

New project: BGP hands-on labs
  content/posts/2023/08/bgp-hands-on-labs.md
Due: md-check, spell-check

Master merge + update
  comments/2023/08/bgp-hands-on-labs.html
  comments/2023/08/bgp-hands-on-labs.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/08/bgp-hands-on-labs.html
  comments/2023/08/bgp-hands-on-labs.json
Due: none

Remove the link to the SDN mailing list
  themes/ipspace/layouts/partials/sidebar.html
Due: none
