Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Migrate KB pages without frontmatter (turning first-line header into title:)
  tools/migrate-kb.py
Due: none

Migrate traditional Markdown image markup into Hugo FIGURE shortcode
  tools/migrate-kb.py
Due: none

Implement shortcodes to generate section ToC and a list of links
  layouts/shortcodes/kb-links.html
  layouts/shortcodes/kb-section-toc.html
Due: none

Bug fix: recognize CAPTION and CODE-CAPTION tags in kb documents
  tools/migrate-kb.py
Due: none

Migrated: NetAutJourney
  content/kb/NetAutJourney/00-Intro.md
  content/kb/NetAutJourney/10-Templates.md
  content/kb/NetAutJourney/20-Inventory.md
  content/kb/NetAutJourney/30-WebUI.md
  content/kb/NetAutJourney/40-Network-Diagrams.md
  content/kb/NetAutJourney/50-ZTP.md
  content/kb/NetAutJourney/60-Tools.md
  content/kb/NetAutJourney/99-Appendix.md
  content/kb/NetAutJourney/config.yaml
  data/kb/NetAutJourney.yaml
Due: yamllint, md-check, spell-check

Migrated: Ansible
  content/kb/Ansible/00-intro.md
  content/kb/Ansible/Ansible_Inventory_Vagrant.md
  content/kb/Ansible/Collect_SSH_Keys_Ansible.md
  content/kb/Ansible/For-If-Jinja2.md
  content/kb/Ansible/Optimizing_Environment_Setup.md
  content/kb/Ansible/Parsing_Text_Printouts_Ansible.md
  content/kb/Ansible/Running_Ansible_Vagrant_VM.md
  content/kb/Ansible/Sample_Ansible_Solutions.md
  content/kb/Ansible/Transform-XML-Data.md
  content/kb/Ansible/Useful_Network_Automation_Tools.md
  content/kb/Ansible/config.yaml
  content/kb/Ansible/napalm-ansible.md
Due: yamllint, md-check, spell-check

Final tweaks to KB layouts
  layouts/partials/kb-header.html
  layouts/partials/kb-section-bottom.html
  layouts/partials/kb-sidebar-toc.html
  themes/ipspace/layouts/partials/header.html
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2023/05/dhcp-redundant-vrf-relay.html
  comments/2023/05/dhcp-redundant-vrf-relay.json
  data/comment_count.json
  data/popular.json
Due: none

Trying a new Hugo container image
  .gitlab-ci.yml
Due: yamllint

Recreate the Articles page on blog.ipspace.net
  content/kb/AutomationLab/00-Intro.md
  content/kb/BGPHighAvailability/00-Intro.md
  content/kb/CiscoAutomation/010-summary.md
  content/kb/ConfigRegex/00-Intro.md
  content/kb/DataModels/00-Data Duplication in Network Automation Data.md
  content/kb/ELK/010-elk-overview.md
  content/kb/Internet/00-index.md
  content/kb/Layer3Fabrics/00-Intro.md
  content/kb/NetAutJourney/00-Intro.md
  content/kb/_index.md
  content/kb/tag/_index.md
  layouts/partials/kb-sidebar-toc.html
  layouts/shortcodes/kb-toc.html
  themes/ipspace/layouts/404.html
  themes/ipspace/layouts/partials/body-footer.html
  themes/ipspace/layouts/partials/body-navigation.html
  themes/ipspace/layouts/shortcodes/series-listing.html
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Completed the integration of Technology Resources pages
  content/kb/tag/BGP/00-index.md
  content/kb/tag/MPLS/00-index.md
  content/kb/tag/MPLS/Implicit_Explicit_NULL.md
  content/kb/tag/OSPF/00-index.md
  content/kb/tag/QoS/00-index.md
  content/kb/tag/_index.md
  content/posts/2020/12/reviving-old-content-part-2.md
  content/series/UCMP/_index.md
  content/series/_index.md
  content/series/irb/_index.md
  content/tags/netlab/_index.md
  themes/ipspace/layouts/404.html
  themes/ipspace/layouts/partials/body-navigation.html
  themes/ipspace/layouts/partials/header.html
Due: md-check, spell-check

IP Corner ==> KB migration tools
  layouts/shortcodes/kb-detail.html
  tools/blog-util.sh
  tools/kb-actions.py
Due: none

Migrated: NTP in a Nutshell
  content/kb/Internet/00-index.md
  content/kb/Internet/NTP/00-intro.md
  content/kb/Internet/NTP/10-basics.md
  content/kb/Internet/NTP/20-design.md
  content/kb/Internet/NTP/30-configuration.md
  content/kb/Internet/NTP/40-monitoring.md
  content/kb/Internet/NTP/50-sntp.md
  content/kb/Internet/NTP/60-summary.md
  content/kb/Internet/NTP/config-network.png
  content/kb/Internet/NTP/design-hierarchical.png
  content/kb/Internet/NTP/design-non-redundant.png
  content/kb/Internet/NTP/design-redundant-site.png
  content/kb/Internet/NTP/design-stratum.png
  content/posts/2007/10/log-ntp-events.html
  content/posts/2007/10/log-ntp-events.md
  content/posts/2008/04/cisco-ios-ntp-essentials.md
  content/posts/2023/05/goodbye-twitter.md
  content/posts/2023/05/ntp-in-a-nutshell.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  snippets/archive-sidebar.html
Due: none

Recovered: EIGRP third-party next hops
  content/posts/2023/06/eigrp-third-party-next-hop.md
  layouts/shortcodes/ct3_rescue.html
  static/2023/06/NH_NBMA_Diagram.png
  static/2023/06/NH_Redistribute_Diagram.png
  static/2023/06/NH_Redistribute_Wireshark.png
  static/2023/06/NH_Self_Wireshark.png
  static/2023/06/NH_Set_Wireshark.png
Due: md-check, spell-check

Fixing the Inter-VRF DHCP relaying network diagram
  static/2023/05/evpn-dhcp-redundant-server.png
Due: none

Master merge + update
  comments/2023/05/dhcp-redundant-vrf-relay.html
  comments/2023/05/dhcp-redundant-vrf-relay.json
  data/popular.json
Due: none

Blog posts for the week of May 29th (plus a bit of polishing and PEBCAK fixing)
  content/posts/2023/05/failure-detection-server-dual-homing.md
  content/posts/2023/05/worth-reading-trustworthy-ai.md
  content/posts/2023/06/multicast-source-address.md
  content/posts/2023/06/video-link-state-routing-implementation.md
  content/posts/2023/06/worth-reading-network-edge-dmz-design.md
  content/posts/2023/06/worth-reading-unbounded-tcp-memory-usage.md
Due: md-check, spell-check

Add NEW and FIRST actions to the KB migration tool
  tools/kb-actions.py
Due: none

Make the "migration" notices in KB articles a bit more subtle
  content/kb/Internet/NTP/00-intro.md
  content/kb/Internet/PMTUD/00-ip-fragmentation.md
Due: md-check, spell-check

Implement "REDIRECT" frontmatter setting
  themes/ipspace/layouts/partials/post-content.html
  themes/ipspace/layouts/partials/post-header.html
  themes/ipspace/layouts/partials/post-share.html
Due: none

Migrated: EIGRP stub routers
  content/kb/Internet/00-index.md
  content/kb/Internet/EIGRP_stub/00-intro.md
  content/kb/Internet/EIGRP_stub/10-dual-homed-sites.md
  content/kb/Internet/EIGRP_stub/20-resilient-remote-sites.md
  content/kb/Internet/EIGRP_stub/30-route-leaking-control.md
  content/kb/Internet/EIGRP_stub/99-summary.md
  content/kb/Internet/EIGRP_stub/EIGRP_1.gif
  content/kb/Internet/EIGRP_stub/EIGRP_2.gif
  content/kb/Internet/EIGRP_stub/EIGRP_3.gif
  content/kb/Internet/EIGRP_stub/EIGRP_4.gif
  content/kb/Internet/EIGRP_stub/EIGRP_5.gif
  content/kb/Internet/EIGRP_stub/EIGRP_6.gif
  content/kb/Internet/EIGRP_stub/EIGRP_7.gif
  content/posts/2023/06/eigrp-stub-routers.md
  content/posts/2023/06/evpn-vxlan-wan-network.md
  content/posts/2023/06/lacp-fast-timers.md
Due: md-check, spell-check

Master merge + update
  comments/2023/05/goodbye-twitter.html
  comments/2023/05/goodbye-twitter.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2023/05/goodbye-twitter.html
  comments/2023/05/goodbye-twitter.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/05/goodbye-twitter.html
  comments/2023/05/goodbye-twitter.json
Due: none

Update: document how cross-posting to Twitter worked
  content/posts/2023/05/goodbye-twitter.md
  content/tags/eigrp/_index.md
Due: md-check, spell-check

Master merge + update
  comments/2023/05/goodbye-twitter.html
  comments/2023/05/goodbye-twitter.json
  data/popular.json
Due: none
