Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Updated multivendor EVPN test results
  content/posts/2024/08/multivendor-evpn-reality.md
  static/2024/08/evpn-test-results.png
Due: md-check, spell-check

Master merge + update
  comments/2024/08/srv6-benefits.html
  comments/2024/08/srv6-benefits.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2024/08/multivendor-evpn-reality.html
  comments/2024/08/multivendor-evpn-reality.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/08/multivendor-evpn-reality.html
  comments/2024/08/multivendor-evpn-reality.json
Due: none

Master merge + update
  comments/2024/08/evpn-common-services-vrf.html
  comments/2024/08/evpn-common-services-vrf.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/08/evpn-common-services-vrf.html
  comments/2024/08/evpn-common-services-vrf.json
Due: none

Master merge + update
  comments/2024/08/evpn-common-services-vrf.html
  comments/2024/08/evpn-common-services-vrf.json
  data/comment_count.json
Due: none

System routes in SR Linux BGP RIB
  content/posts/2013/10/flow-table-explosion-with-openflow-10.html
  content/posts/2013/10/flow-table-explosion-with-openflow-10.md
  content/posts/2024/09/srlinux-bgp-rib.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  content/archm/2024-09.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Remove GitLab CI (blog is no longer published to GitLab Pages)
  .gitlab-ci.yml
Due: yamllint

Master merge + update
  comments/2024/05/too-stupid-to-make-it-work.html
  comments/2024/05/too-stupid-to-make-it-work.json
  data/comment_count.json
  data/popular.json
Due: none

EVPN IBGP/RR design
  content/posts/2024/04/evpn-designs-vxlan-leaf-spine-fabric.md
  content/posts/2024/05/bgp-rr-considered-harmful.md
  content/posts/2024/05/evpn-designs-ibgp-full-mesh.md
  content/posts/2024/08/evpn-designs-ibgp-rr.md
Due: md-check, spell-check

Move EVPN IBGP/RR blog post into the correct month
  content/posts/2024/09/evpn-designs-ibgp-rr.md
Due: md-check, spell-check

Master merge + update
  comments/2024/09/evpn-designs-ibgp-rr.html
  comments/2024/09/evpn-designs-ibgp-rr.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2024/09/evpn-designs-ibgp-rr.html
  comments/2024/09/evpn-designs-ibgp-rr.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/08/evpn-common-services-vrf.html
  comments/2024/08/evpn-common-services-vrf.json
  data/popular.json
Due: none

Free videos: Graph (part 2)
  content/posts/2024/09/spanning-tree-videos.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  snippets/archive-sidebar.html
Due: none

Blog posts for the week of September 9th
  content/posts/2024/09/isis-hands-on-labs.md
  content/posts/2024/09/live-bgp-labs-netlab-sinog-8.md
Due: md-check, spell-check

Updated the "too stupid to use this" rant
  content/posts/2024/05/too-stupid-to-make-it-work.md
Due: md-check, spell-check

Master merge + update
  comments/2024/09/live-bgp-labs-netlab-sinog-8.html
  comments/2024/09/live-bgp-labs-netlab-sinog-8.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/03/netlab-bgp-apple-silicon.html
  comments/2024/03/netlab-bgp-apple-silicon.json
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
