Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  comments/2023/04/chatgpt-explaining-iscsi-crc.html
  comments/2023/04/chatgpt-explaining-iscsi-crc.json
  data/comment_count.json
  data/popular.json
Due: none

Adding phind answer to iSCSI checksum blog post
  content/posts/2023/04/chatgpt-explaining-iscsi-crc.md
  themes/ipspace/layouts/partials/extra-in-head.html
Due: md-check, spell-check

phind on FCoTR
  content/posts/2023/04/chatgpt-explaining-iscsi-crc.md
Due: md-check, spell-check

Add GPT-generated TLDR
  config.yaml
  content/pages/help/gpt-summary.md
  content/posts/2023/04/ipv6-p2p-addressing.md
  content/posts/2023/04/multi-vendor-evpn-fabric.md
  content/posts/2023/04/stp-ospf-bgp-complexity.md
  content/posts/2023/05/evpn-dynamic-mac-learning.md
  content/posts/2023/05/small-site-ebgp-only-design.md
  themes/ipspace/layouts/pages/single.html
  themes/ipspace/layouts/partials/header.html
  themes/ipspace/layouts/shortcodes/tldr.html
Due: yamllint, md-check, spell-check

Master merge + update
  comments/2023/04/worth-reading-mpls-te-worthwhile.html
  comments/2023/04/worth-reading-mpls-te-worthwhile.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/worth-reading-mpls-te-worthwhile.html
  comments/2023/04/worth-reading-mpls-te-worthwhile.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2023/04/ipv6-p2p-addressing.html
  comments/2023/04/ipv6-p2p-addressing.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/ipv6-p2p-addressing.html
  comments/2023/04/ipv6-p2p-addressing.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2023/04/ipv6-p2p-addressing.html
  comments/2023/04/ipv6-p2p-addressing.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/ipv6-p2p-addressing.html
  comments/2023/04/ipv6-p2p-addressing.json
Due: none

Added a note about /126 prefix use
  content/posts/2023/04/ipv6-p2p-addressing.md
Due: md-check, spell-check

Cleanup 'Pages' display
  themes/ipspace/layouts/page/single.html
  themes/ipspace/layouts/pages/list.html
  themes/ipspace/layouts/partials/post-timestamp.html
Due: none

Master merge + update
  comments/2023/04/chatgpt-small-network-design.html
  comments/2023/04/chatgpt-small-network-design.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/multi-vendor-evpn-fabric.html
  comments/2023/04/multi-vendor-evpn-fabric.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/multi-vendor-evpn-fabric.html
  comments/2023/04/multi-vendor-evpn-fabric.json
  data/popular.json
Due: none

A bunch of "Worth Reading" blog posts
  content/posts/2023/04/worth-reading-apenwarr-magic-science-engineering.md
  content/posts/2023/05/worth-reading-end-to-end-system-design.md
  content/posts/2023/05/worth-reading-ipv6-deployment-status.md
Due: md-check, spell-check

Rescheduled a blog post
  content/posts/2023/04/evpn-dynamic-mac-learning.md
Due: md-check, spell-check

Master merge + update
  comments/2023/04/video-sdwan-cpe-architecture.html
  comments/2023/04/video-sdwan-cpe-architecture.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/video-sdwan-cpe-architecture.html
  comments/2023/04/video-sdwan-cpe-architecture.json
  data/popular.json
Due: none
