Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  comments/2023/04/palo-alto-ipv6-firewalling.html
  comments/2023/04/palo-alto-ipv6-firewalling.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2023/04/evpn-dynamic-mac-learning.html
  comments/2023/04/evpn-dynamic-mac-learning.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/evpn-dynamic-mac-learning.html
  comments/2023/04/evpn-dynamic-mac-learning.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2023/04/evpn-dynamic-mac-learning.html
  comments/2023/04/evpn-dynamic-mac-learning.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/evpn-dynamic-mac-learning.html
  comments/2023/04/evpn-dynamic-mac-learning.json
Due: none

Video: Advantages of EVPN multihoming
  content/posts/2023/04/netlab-merge-config.md
  content/posts/2023/04/video-evpn-mlag-comparison.md
Due: md-check, spell-check

netlab release 1.5.2
  content/posts/2023/05/netlab-release-1.5.2-aruba-tools-components.md
  content/posts/2023/05/small-site-ebgp-only-design.md
Due: md-check, spell-check

Rewrote Graphite blog post to describe the new External Tools functionality
  content/posts/2022/04/netsim-tools-better-with-gui.md
Due: md-check, spell-check

Master merge + update
  comments/2023/04/stp-ospf-bgp-complexity.html
  comments/2023/04/stp-ospf-bgp-complexity.json
  data/comment_count.json
  data/popular.json
Due: none

Fix: STP does not shut down the interfaces
  content/posts/2023/04/stp-ospf-bgp-complexity.md
Due: md-check, spell-check

Master merge + update
  comments/2023/04/stp-ospf-bgp-complexity.html
  comments/2023/04/stp-ospf-bgp-complexity.json
  data/popular.json
Due: none

Fixing another typo
  content/posts/2023/04/stp-ospf-bgp-complexity.md
  styles/Vocab/Blog/accept.txt
Due: md-check, spell-check

Master merge + update
  comments/2023/04/palo-alto-ipv6-firewalling.html
  comments/2023/04/palo-alto-ipv6-firewalling.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/worth-reading-linux-router-180gbps.html
  comments/2023/04/worth-reading-linux-router-180gbps.json
  data/comment_count.json
  data/popular.json
Due: none

Mentioned nftables
  content/posts/2023/04/palo-alto-ipv6-firewalling.md
Due: md-check, spell-check

Master merge + update
  comments/2023/04/worth-reading-linux-router-180gbps.html
  comments/2023/04/worth-reading-linux-router-180gbps.json
Due: none

Master merge + update
  content/archm/2023-05.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Setting up 'AI' category page
  content/posts/2020/01/worth-reading-machine-learning-explained.html
  content/posts/2020/01/worth-reading-machine-learning-explained.md
  content/posts/2021/10/video-ai-ml-introduction.md
  content/posts/2021/12/video-machine-learning-101.md
  content/posts/2022/01/video-machine-learning-techniques.md
  content/posts/2022/02/video-ml-in-networking.md
  content/posts/2022/03/worth-reading-ai-making-us-animist.md
  content/posts/2022/04/video-ml-ai-bad-parts.md
  content/posts/2022/04/worth-reading-ai-illusion.md
  content/posts/2022/05/video-ml-ai-ugly.md
  content/posts/2023/02/machine-learning-network-cloud.md
  content/posts/2023/02/real-life-ai-networking.md
  content/posts/2023/02/worth-reading-chatgpt-shortcomings.md
  content/posts/2023/03/chatgpt-bgp-routing-security.md
  content/posts/2023/03/chatgpt-stack-overflow.md
  content/posts/2023/03/worth-reading-dangers-knowing-everything.md
  content/posts/2023/03/worth-reading-large-language-models.md
  content/posts/2023/04/chatgpt-explaining-iscsi-crc.md
  content/posts/2023/04/chatgpt-small-network-design.md
  content/posts/2023/04/kicking-tires-github-copilot.md
  content/tags/ai/_index.md
Due: md-check, spell-check

Fabrics, EVPN, AI, BGP... what could go wrong?
  content/posts/2023/05/chat-gpt-efficiency-multiplier.md
  content/posts/2023/05/cisco-aci-quirks.md
  content/posts/2023/05/silent-hosts-evpn.md
  content/posts/2023/05/xbgp-modify-bgp-behavior.md
  styles/Vocab/Blog/accept.txt
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Master merge + update
  comments/2023/04/worth-reading-zombie-outbreak-juniper-routers.html
  comments/2023/04/worth-reading-zombie-outbreak-juniper-routers.json
  data/comment_count.json
  data/popular.json
Due: none

Virtual MLAG peer link
  content/posts/2022/06/mlag-active-active-layer3.md
  content/posts/2022/06/mlag-deep-dive-flooding.md
  content/posts/2022/06/mlag-deep-dive-mac-learning.md
  content/posts/2022/06/mlag-deep-dive-overview.md
  content/posts/2022/09/mlag-deep-dive-vxlan-fabric.md
  content/posts/2022/11/mlag-vxlan-evpn.md
  content/posts/2022/12/mlag-routing.md
  content/posts/2023/05/cisco-aci-quirks.md
  content/posts/2023/05/mlag-without-peer-link.md
  content/series/mlag/_index.md
  static/2023/05/MLAG-virtual-peer-link.png
Due: md-check, spell-check
