Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  data/popular.json
Due: none

Master merge + update
  comments/2025/02/arista-ceos-arm-apple-silicon.html
  comments/2025/02/arista-ceos-arm-apple-silicon.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2025/02/arista-ceos-arm-apple-silicon.html
  comments/2025/02/arista-ceos-arm-apple-silicon.json
Due: none

Tagged VLAN 1 in VLAN trunks
  content/posts/2025/02/tagged-vlan-1.md
Due: md-check, spell-check

P2P links in virtual labs
  content/posts/2025/02/virtual-lab-links.md
  content/posts/2025/02/virtual-labs-p2p-links.md
  static/2025/02/containerlab-p2p.png
  static/2025/02/qemu-tap.png
  static/2025/02/qemu-udp.png
Due: md-check, spell-check

AI recommendations based on ipSpace.net content
  content/posts/2025/02/ai-recommendations-stay-relevant.md
Due: md-check, spell-check

Master merge + update
  comments/2025/02/arista-ceos-arm-apple-silicon.html
  comments/2025/02/arista-ceos-arm-apple-silicon.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/02/arista-ceos-arm-apple-silicon.html
  comments/2025/02/arista-ceos-arm-apple-silicon.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2013/08/can-i-use-shared-rfc-6598-ipv4-address.html
  comments/2013/08/can-i-use-shared-rfc-6598-ipv4-address.json
  data/comment_count.json
Due: none

Master merge + update
  comments/2025/02/tagged-vlan-1.html
  comments/2025/02/tagged-vlan-1.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/02/tagged-vlan-1.html
  comments/2025/02/tagged-vlan-1.json
  data/popular.json
Due: none

Master merge + update
  comments/2025/02/tagged-vlan-1.html
  comments/2025/02/tagged-vlan-1.json
Due: none

Added a link to another VRRPv3 blog post
  content/posts/2025/01/cisco-vrrp3-ipv6-configuration.md
Due: md-check, spell-check

Move the Change Logging article
  content/kb/Internet/ConfigChangeLogging/00-intro.md
Due: md-check, spell-check

Limit the Git Diff scope
  content/posts/2025/02/limit-scope-git-diff.md
Due: md-check, spell-check

Master merge + update
  comments/2012/05/does-optimal-l3-forwarding-matter-in.html
  comments/2012/05/does-optimal-l3-forwarding-matter-in.json
  data/comment_count.json
  data/popular.json
Due: none

Baltic NOG meeting
  content/posts/2025/02/balticnog-september-2025.md
Due: md-check, spell-check

Worth Reading articles
  content/posts/2025/02/network-traffic-telemetry.md
  content/posts/2025/02/using-sdn-controller-rsvp-te.md
Due: md-check, spell-check

Forgot to split the page
  content/posts/2025/02/limit-scope-git-diff.md
Due: md-check, spell-check

Cumulus Linux password expiration FUBAR
  content/posts/2025/01/bird-ospfv3-ipv6-lla-loopback.md
  content/posts/2025/01/cisco-vrrp3-ipv6-configuration.md
  content/posts/2025/01/junos-isis-metrics.md
  content/posts/2025/01/sturgeon-law-vrrp-edition.md
  content/posts/2025/02/goodbye-cumulus-community.md
  content/posts/2025/02/tagged-vlan-1.md
  content/posts/2025/02/wait-for-interfaces.md
  content/tags/netlab/_index.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Added a link to Cumulus password expiration workaround
  content/posts/2025/02/goodbye-cumulus-community.md
Due: md-check, spell-check

Master merge + update
  comments/2025/02/balticnog-september-2025.html
  comments/2025/02/balticnog-september-2025.json
  data/comment_count.json
  data/popular.json
Due: none

Added dates for other European events
  content/posts/2025/02/balticnog-september-2025.md
Due: md-check, spell-check

New Worth Reading articles
  content/posts/2025/02/worth-reading-generative-ai-con.md
  content/posts/2025/02/worth-reading-ipv6-failures.md
Due: md-check, spell-check

Master merge + update
  comments/2025/02/limit-scope-git-diff.html
  comments/2025/02/limit-scope-git-diff.json
  data/comment_count.json
  data/popular.json
Due: none

Fixing a typo
  content/posts/2025/02/balticnog-september-2025.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Update the VM/container naughty list
  content/posts/2024/05/too-stupid-to-make-it-work.md
Due: md-check, spell-check

Virtual stub networks
  content/posts/2025/02/virtual-dummy-interfaces.md
  content/posts/2025/02/virtual-labs-p2p-links.md
  static/2025/02/clab-stub-bridge.png
  static/2025/02/containerlab-dummy.png
  static/2025/02/qemu-stub.png
Due: md-check, spell-check

EBGP multihop lab exercise
  content/posts/2025/02/bgp-labs-ebgp-multihop.md
Due: md-check, spell-check
