Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  comments/2023/03/chatgpt-stack-overflow.html
  comments/2023/03/chatgpt-stack-overflow.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Fixing the blog post title
  content/posts/2023/03/leaf-switches-four-uplinks.md
  content/posts/2023/03/video-chassis-switches.md
Due: md-check, spell-check

Week of 2023-03-27 (Part 1)
  content/posts/2023/03/chatgpt-bgp-routing-security.md
  content/posts/2023/03/leaf-switches-four-uplinks.md
  static/2023/03/chatgpt-bgp-1.png
  static/2023/03/chatgpt-bgp-2.png
Due: md-check, spell-check

Week of 2023-03-27 (Part 2)
  content/posts/2023/03/evpn-job-interview.md
  content/posts/2023/03/video-kubernetes-sdn-configurations.md
  styles/Vocab/Blog/accept.txt
Due: md-check, spell-check

Master merge + update
  comments/2023/03/worth-reading-off-path-firewall.html
  comments/2023/03/worth-reading-off-path-firewall.json
  data/comment_count.json
  data/popular.json
Due: none

Updated BGP security hallucinations with GPT-4 and Bing Chatbot results
  content/posts/2023/03/chatgpt-bgp-routing-security.md
  static/2023/03/gpt4-1.jpg
  static/2023/03/gpt4-2.jpg
Due: md-check, spell-check

Master merge + update
  comments/2023/03/worth-reading-off-path-firewall.html
  comments/2023/03/worth-reading-off-path-firewall.json
  data/popular.json
Due: none

Final (hopefully) tweaks to the "4-uplink leaf switches" blog post
  content/posts/2023/03/leaf-switches-four-uplinks.md
Due: md-check, spell-check

Master merge + update
  comments/2023/03/leaf-switches-four-uplinks.html
  comments/2023/03/leaf-switches-four-uplinks.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/03/netlab-vxlan-dhcp-relay.html
  comments/2023/03/netlab-vxlan-dhcp-relay.json
  data/comment_count.json
  data/popular.json
Due: none

Fix typo: bridging
  data/sidebar_lookup.yaml
Due: yamllint

Fix typo: "bridging"
  data/sidebar_lookup.yaml
Due: yamllint

New monthly/yearly files
  content/archm/2021-02.md
  content/archm/2021-03.md
  content/archm/2021-04.md
  content/archm/2021-05.md
  content/archm/2021-06.md
  content/archm/2021-07.md
  content/archm/2021-08.md
  content/archm/2021-09.md
  content/archm/2021-10.md
  content/archm/2021-11.md
  content/archm/2021-12.md
  content/archm/2022-01.md
  content/archm/2022-02.md
  content/archm/2022-03.md
  content/archm/2022-04.md
  content/archm/2022-05.md
  content/archm/2022-06.md
  content/archm/2022-07.md
  content/archm/2022-08.md
  content/archm/2022-09.md
  content/archm/2022-10.md
  content/archm/2022-11.md
  content/archm/2022-12.md
  content/archm/2023-01.md
  content/archm/2023-02.md
  content/archm/2023-03.md
  content/archy/2022.md
  content/archy/2023.md
Due: md-check, spell-check

Merge of data/content files destroyed fixes from #1
  data/sidebar_lookup.yaml
Due: yamllint

Fix DHCP server IP address on DHCP relaying diagrams
  static/2023/03/vxlan-dhcp-relay.png
  static/2023/04/evpn-dhcp-relay.png
Due: none

Master merge + update
  comments/2023/03/netlab-vxlan-dhcp-relay.html
  comments/2023/03/netlab-vxlan-dhcp-relay.json
  data/popular.json
Due: none

Diagram for the redundant VXLAN DHCP relay lab
  static/2023/04/vxlan-redundant-dhcp-relay.png
Due: none

Renamed the redundant DHCP server diagram
  content/posts/2023/04/dhcp-redundant-relay.md
  static/2023/04/vxlan-redundant-dhcp-relay.png
  static/2023/04/vxlan-redundant-dhcp-server.png
Due: md-check, spell-check

Master merge + update
  comments/2023/03/evpn-job-interview.html
  comments/2023/03/evpn-job-interview.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/03/external-links-spine-switches.html
  comments/2023/03/external-links-spine-switches.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/03/evpn-job-interview.html
  comments/2023/03/evpn-job-interview.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/03/chatgpt-bgp-routing-security.html
  comments/2023/03/chatgpt-bgp-routing-security.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/03/chatgpt-bgp-routing-security.html
  comments/2023/03/chatgpt-bgp-routing-security.json
  data/popular.json
Due: none

Tool fix: remove final newline from simple url-to-md conversion
  tools/blog-util.sh
Due: none

HA Cluster Resources: add links to webinars and design clinic
  content/series/ha-cluster/_index.md
Due: md-check, spell-check

Blog posts for the week of April 3rd
  content/posts/2023/04/chatgpt-small-network-design.md
  content/posts/2023/04/ha-cluster-resources.md
  content/posts/2023/04/ipv6-p2p-addressing.md
  content/posts/2023/04/kicking-tires-github-copilot.md
  content/posts/2023/04/wifi-shared-medium.md
  static/2023/04/gpt4-router-a.png
Due: md-check, spell-check
