Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Another Kubernetes video
  content/posts/2023/05/video-kubernetes-cni.md
  content/posts/2023/11/video-kubernetes-calico.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Another DR failure (plus a few Grammarly-suggested fixes)
  content/posts/2023/08/distributed-systems-are-hard.md
  content/posts/2023/11/worth-reading-comments-cloudflare-outage.md
  content/series/dr/_index.md
  content/tags/high-availability/_index.md
Due: md-check, spell-check

Another Git-related article well worth reading
  content/posts/2023/11/worth-reading-git-rebase-what-can-go-wrong.md
Due: md-check, spell-check

Master merge + update
  comments/2023/11/worth-reading-git-rebase-what-can-go-wrong.html
  comments/2023/11/worth-reading-git-rebase-what-can-go-wrong.json
  data/comment_count.json
  data/popular.json
Due: none

Blog post: LAN addressing
  content/posts/2023/11/lan-data-link-layer-addressing.md
Due: md-check, spell-check

Fix blogging tools
  tools/blog-util.sh
  tools/common.py
  tools/tag_filter.py
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Add a diagram to the 802 MAC addressing blog post
  content/posts/2023/11/lan-data-link-layer-addressing.md
  static/2023/11/dll-802-mac.png
Due: md-check, spell-check

Move the BGP TTL blog post (+ a bit of polishing)
  content/posts/2023/11/bgp-ttl-security-shortcomings.md
Due: md-check, spell-check

Final posts for the week of November 13th
  content/posts/2023/11/video-bgp-bugs.md
  content/posts/2023/11/worth-reading-alternate-view-roa-rov-adoption.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Netlab on Windows
  content/posts/2023/11/netlab-windows.md
Due: md-check, spell-check

Master merge + update
  comments/2023/09/evpn-wan-handoff-l3out.html
  comments/2023/09/evpn-wan-handoff-l3out.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/11/open-bgp-daemons.html
  comments/2023/11/open-bgp-daemons.json
Due: none

Master merge + update
  comments/2023/09/evpn-wan-handoff-l3out.html
  comments/2023/09/evpn-wan-handoff-l3out.json
  data/popular.json
Due: none

Links to 10BASE5 articles
  content/posts/2023/11/lan-data-link-layer-addressing.md
Due: md-check, spell-check

Updating ROV adoption blog post with results from Geoff Huston
  content/posts/2023/11/rapid-progress-rpki-route-origin-validation.md
  content/posts/2023/11/worth-reading-alternate-view-roa-rov-adoption.md
Due: md-check, spell-check

EVPN L3 handoff on Arista EOS
  content/posts/2023/09/evpn-wan-handoff-l3out.md
  content/posts/2023/11/arista-evpn-l3out-handoff.md
Due: md-check, spell-check

Master merge + update
  comments/2023/11/worth-reading-comments-cloudflare-outage.html
  comments/2023/11/worth-reading-comments-cloudflare-outage.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/11/worth-reading-comments-cloudflare-outage.html
  comments/2023/11/worth-reading-comments-cloudflare-outage.json
  data/comment_count.json
Due: none

BGP identifier blog post
  content/posts/2023/11/bgp-next-hop-via-default-route.md
  content/posts/2023/11/bgp-router-id.md
  content/posts/2023/11/worth-reading-dns-ipv6.md
  content/posts/2023/11/worth-reading-going-ccnp-emeritus.md
  content/posts/2023/12/dhcp-relaying-linux-host.md
Due: md-check, spell-check

BGP next hop via default route
  content/posts/2023/11/bgp-next-hop-via-default-route.md
Due: md-check, spell-check

New lab: AS-path prepending
  content/posts/2023/11/bgp-labs-as-path-prepending.md
  content/posts/2023/11/bgp-next-hop-via-default-route.md
Due: md-check, spell-check

First LLM video
  content/posts/2023/11/video-llm-ai-landscape.md
Due: md-check, spell-check

Master merge + update
  comments/2011/09/vxlan-otv-and-lisp.html
  comments/2011/09/vxlan-otv-and-lisp.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/11/bgp-router-id.html
  comments/2023/11/bgp-router-id.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/10/vjunos-declines-dhcp-address.html
  comments/2023/10/vjunos-declines-dhcp-address.json
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
