Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Fix: multiple vendors implemented TACACS+ clients
  content/kb/Internet/ConfigChangeLogging/00-intro.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
Due: none

Bird: OSPFv3 on loopback
  content/posts/2025/01/bird-ospfv3-ipv6-lla-loopback.md
  content/posts/2025/01/common-labbing-misconceptions.md
Due: md-check, spell-check

IPv6 documentation prefix
  content/posts/2025/01/rfc9637-ipv6-documentation-prefix.md
Due: md-check, spell-check

Master merge + update
  comments/2008/07/why-im-no-longer-active-ccie.html
  comments/2008/07/why-im-no-longer-active-ccie.json
  data/comment_count.json
  data/popular.json
Due: none

First in-depth blog posts for 2025
  content/posts/2025/01/bgp-igp-convergence.md
  content/posts/2025/01/netlab-multisite-vlan.md
  static/2025/01/multi-site-vlan.png
Due: md-check, spell-check

Fixing a few typos
  content/posts/2025/01/bgp-igp-convergence.md
  content/posts/2025/01/common-labbing-misconceptions.md
Due: md-check, spell-check

Blog posts for the second (or is it third) week of January
  content/posts/2025/01/isis-level-1-2.md
  content/posts/2025/01/leaf-spine-fabric-videos.md
  static/2025/01/dalle-leaf-spine-design.png
Due: md-check, spell-check

Master merge + update
  comments/2024/09/evpn-designs-ibgp-rr.html
  comments/2024/09/evpn-designs-ibgp-rr.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2024/09/evpn-designs-ibgp-rr.html
  comments/2024/09/evpn-designs-ibgp-rr.json
Due: none

Add BR shortcode to create breaks in table cells
  themes/ipspace/layouts/shortcodes/br.html
Due: none

Rants galore
  content/posts/2025/01/junos-isis-metrics.md
  content/posts/2025/02/wait-for-interfaces.md
Due: md-check, spell-check

Master merge + update
  content/archm/2025-01.md
  content/archy/2025.md
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint, md-check, spell-check

Move an announcement post to Saturday
  content/posts/2025/01/rfc9637-ipv6-documentation-prefix.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2025/01/bird-ospfv3-ipv6-lla-loopback.html
  comments/2025/01/bird-ospfv3-ipv6-lla-loopback.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2019/09/response-osi-model-is-lie.html
  comments/2019/09/response-osi-model-is-lie.json
  data/comment_count.json
  data/popular.json
Due: none

New netlab blog posts
  content/posts/2020/12/build-labs-netsim-tools.md
  content/posts/2025/01/netlab-1-9-3-mlag-static-routes.md
  content/posts/2025/01/netlab-link-definitions.md
Due: md-check, spell-check

Master merge + update
  comments/2025/01/bird-ospfv3-ipv6-lla-loopback.html
  comments/2025/01/bird-ospfv3-ipv6-lla-loopback.json
Due: none

Master merge + update
  comments/2024/12/pic-edge-oxymoron.html
  comments/2024/12/pic-edge-oxymoron.json
  data/comment_count.json
Due: none

Fix: per-CE labels are available on Cisco IOS XE
  content/posts/2024/12/pic-edge-oxymoron.md
Due: md-check, spell-check

Stop complaining about FRRouting
  styles/Vocab/Blog/accept.txt
Due: none

IBGP is the better EBGP
  content/posts/2025/01/ibgp-better-ebgp.md
  static/2025/01/design-ebgp-only.png
  static/2025/01/design-ibgp-only.png
  static/2025/01/design-ibgp.png
  static/2025/01/design-igp-network.png
Due: md-check, spell-check

Encourage the readers to use GH codespaces
  content/posts/2025/01/ibgp-better-ebgp.md
Due: md-check, spell-check

Fixed a date typo
  content/posts/2025/01/rfc9637-ipv6-documentation-prefix.md
Due: md-check, spell-check

Ethernet/802.1 protocol stack
  content/posts/2025/01/ethernet-8021-protocol-stack.md
  static/2025/01/eps-ip-view.png
  static/2025/01/eps-llc-mac.png
  static/2025/01/eps-llc-protocols.png
  static/2025/01/eps-osi-view.png
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none
