Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Master merge + update
  comments/2013/06/cli-and-api-myths.html
  comments/2013/06/cli-and-api-myths.json
  data/comment_count.json
  data/popular.json
Due: none

Links to SR-MLPS workshop materials
  content/posts/2026/04/sr-mpls-workshop.md
Due: md-check, spell-check

Rail-optimized networking
  content/posts/2026/04/worth-reading-rail-optimized-networking.md
  static/2026/04/load-splitting.png
Due: md-check, spell-check

Cloudflare Automatic Return Routing
  content/posts/2026/05/worth-reading-cloudflare-automatic-return-routing.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Worth reading: The Future of Everything is Lies
  content/posts/2026/05/worth-reading-future-everything-lies.md
Due: md-check, spell-check

Master merge + update
  comments/2026/04/worth-reading-rail-optimized-networking.html
  comments/2026/04/worth-reading-rail-optimized-networking.json
  data/comment_count.json
  data/popular.json
Due: none

ITNOG 10 highlights
  content/posts/2026/04/itnog-10.md
  content/posts/2026/04/worth-reading-ai-lost-knowledge.md
  static/2026/04/itnog-lab-core.png
  static/2026/04/itnog-parallels.jpeg
Due: md-check, spell-check

Cleanup 2008
  content/posts/2008/01/bgp-essentials-peer-session-templates.md
  content/posts/2008/02/ios-hints-blog-featured-in-networkworld.html
  content/posts/2008/03/use-extended-access-lists-to-filter-bgp.html
  content/posts/2008/04/hot-air-party.html
  content/posts/2008/04/interesting-posts.html
  content/posts/2008/05/cisco-851-and-871-bridge-between-lan.html
  content/posts/2008/05/continuous-display-of-top-cpu-processes.md
  content/posts/2008/05/guide-to-harden-cisco-ios-devices.html
  content/posts/2008/05/much-ado-about-rootkits.html
  content/posts/2008/05/web-citation-archive.html
  content/posts/2008/05/which-routing-protocol-do-you-use.html
  content/posts/2008/10/display-interfaces-belonging-to-single.md
  content/posts/2008/10/rip-rocks-in-low-end-hub-and-spoke.md
  content/posts/2008/11/interactive-online-sessions-your-input.html
  content/posts/2008/11/offer-you-should-not-refuse.html
  content/posts/2008/12/most-convoluted-mib-ive-seen.md
Due: md-check, spell-check

Looks like 'Summary' behavior changed in recent Hugo versions
  config.yaml
  themes/ipspace/layouts/partials/post-content.html
Due: yamllint

Testing automated summaries
  config.yaml
  content/posts/2006/11/log-configuration-commands-entered-on.html
Due: yamllint

Master merge + update
  data/archive.json
  data/popular.json
  snippets/archive-sidebar.html
Due: none

Master merge + update
  comments/2026/04/itnog-10.html
  comments/2026/04/itnog-10.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/04/itnog-10.html
  comments/2026/04/itnog-10.json
  data/comment_count.json
Due: none

State of network automation with Urs Baumann
  content/posts/2026/04/state-network-automation.md
Due: md-check, spell-check

Generating EVPN MAC-IP routes
  content/posts/2026/04/evpn-generating-macip-routes.md
Due: md-check, spell-check

Add "max-height" shortcode to truncate long tables
  themes/ipspace/layouts/shortcodes/max-height.html
Due: none

Use netlab to generate partial device configs
  content/posts/2026/04/netlab-generate-device-configs.md
Due: md-check, spell-check

Added links to ITNOG-10 presentations
  content/posts/2026/04/itnog-10.md
Due: md-check, spell-check

Worth reading blog posts
  content/posts/2026/05/worth-reading-agentic-ai-sandboxes-worktrees.md
  content/posts/2026/05/worth-reading-code-is-worthless.md
Due: md-check, spell-check

ARP issues in EVPN centralized routing
  content/posts/2026/05/arp-issues-evpn-central-routing.md
  static/2026/05/evpn-fwd-central-routing.png
Due: md-check, spell-check

Master merge + update
  comments/2026/04/itnog-10.html
  comments/2026/04/itnog-10.json
  data/popular.json
Due: none

Master merge + update
  comments/2026/04/itnog-10.html
  comments/2026/04/itnog-10.json
Due: none

SRv6 rings
  static/images/srv6-black.png
  static/images/srv6-white.png
Due: none

Upgraded HTML markup: 2006/10
  content/posts/2006/10/bgp-peer-groups-no-longer-performance.html
  content/posts/2006/10/cef-load-sharing-details.html
  content/posts/2006/10/cef-per-destination-load-sharing.html
  content/posts/2006/10/disable-command-execution-with-cisco.html
  content/posts/2006/10/home-page-for-cisco-ios-web-server.html
  content/posts/2006/10/include-default-usernamepassword-in.html
  content/posts/2006/10/multilevel-web-http-access-to-router.html
  content/posts/2006/10/periodic-router-reload.html
  content/posts/2006/10/reload-router-from-vbscript-or-perl.html
  content/posts/2006/10/running-syslog-over-tcp.html
  content/posts/2006/10/subinterface-link-status-logging.html
  content/posts/2006/10/tar-archives-used-by-cisco-ios-web.html
  content/posts/2006/10/tar-support-in-cisco-ios.html
  content/posts/2006/10/use-cisco-ios-ftp-server-to-bypass.html
  content/posts/2006/10/use-command-aliases-to-simplify-cisco.html
Due: none

Upgraded HTML markup: 2006/0[89]
  content/posts/2006/08/download-router-configuration-to-web.html
  content/posts/2006/08/use-http-to-store-router.html
  content/posts/2006/09/use-your-cisco-router-as-primary-dns.html
Due: none

Upgraded HTML markup: 2006/11
  content/posts/2006/11/cisco-ios-from-attackers-perspective.html
  content/posts/2006/11/deploying-zone-based-firewalls.html
  content/posts/2006/11/log-user-privilege-level-changes.html
  content/posts/2006/11/reduce-noise-generated-by-cisco-ios.html
Due: none

Upgraded HTML markup: 2007/01
  content/posts/2006/12/vty-access-class-accepts-extended-and.html
  content/posts/2007/01/cef-punted-packets.html
  content/posts/2007/01/cisco-ios-web-server-with-no-enable.html
  content/posts/2007/01/count-logging-messages.html
  content/posts/2007/01/default-username-on-cisco-routers.html
  content/posts/2007/01/disable-console-logging.html
  content/posts/2007/01/disable-more-prompt.html
  content/posts/2007/01/firewalls-kill-tcp-performance-when.html
  content/posts/2007/01/how-do-i-stop-all-logging-done-by.html
  content/posts/2007/01/improve-convergence-of-static-routes.html
  content/posts/2007/01/log-ip-sla-failures.html
  content/posts/2007/01/reload-router-from-interim-privilege.html
  content/posts/2007/01/youve-asked-for-it-series.html
Due: none

Upgraded HTML markup: 2006/12
  content/posts/2006/12/cisco-ios-login-enhancements.html
  content/posts/2006/12/cisco-ios-violates-rfc-2616-http11.html
  content/posts/2006/12/configuration-change-logging-ignores.html
  content/posts/2006/12/configuration-rollback-fails-completely.html
  content/posts/2006/12/frame-relay-local-switching.html
  content/posts/2006/12/local-username-authentication.html
  content/posts/2006/12/log-terminal-access-to-your-router.html
  content/posts/2006/12/per-destination-or-per-packet-cef-load.html
  content/posts/2006/12/remove-timestamps-from-syslog-messages.html
  content/posts/2006/12/vty-access-class-accepts-extended-and.html
Due: none

Tool: fix ancient HTML markup
  tools/fix-html.py
Due: none

Upgraded HTML markup: 2007/0[23]
  content/posts/2006/12/frame-relay-local-switching.html
  content/posts/2007/02/dont-use-copy-commands-in-eem-applets.html
  content/posts/2007/02/embedded-event-manager-scripting-center.html
  content/posts/2007/02/filter-sections-of-your-running.html
  content/posts/2007/02/minimum-sdm-configuration.html
  content/posts/2007/02/reliable-static-routing.html
  content/posts/2007/02/reporting-state-of-ip-route.html
  content/posts/2007/02/simulate-interface-counters-with-qos.html
  content/posts/2007/02/store-your-eem-tcl-policies-in-nvram.html
  content/posts/2007/02/use-access-lists-to-filter-ip-packets.html
  content/posts/2007/02/versatile-more-command.html
  content/posts/2007/02/weird-vty-numbers-in-ios-release-124t.html
  content/posts/2007/03/can-you-disable-reload-command.html
  content/posts/2007/03/configure-local-authentication-with-aaa.html
  content/posts/2007/03/enhanced-password-security-for-local.html
  content/posts/2007/03/execute-show-commands-while-configuring.html
  content/posts/2007/03/executing-command-upon-user-login.html
  content/posts/2007/03/local-usernames-with-no-password.html
  content/posts/2007/03/more-command-works-as-hex-dump-if.html
  content/posts/2007/03/mpls-vpn-half-duplex-vrf-works-only-on.html
  content/posts/2007/03/one-line-extended-ping.html
  content/posts/2007/03/one-time-passwords-on-cisco-routers.html
  content/posts/2007/03/reload-eem-tcl-policy-with-eem-applet.html
  content/posts/2007/03/save-approximated-date-and-time-in.html
  content/posts/2007/03/stop-extended-ping-or-traceroute.html
  content/posts/2007/03/where-did-cbac-go.html
  content/posts/2007/03/where-does-tcl-output-go.html
Due: none

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
