Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

.pre-commit-config.yaml:

---
repos:
- repo: local
  hooks:
  - id: yamllint
    name: yamllint
    description: This hook runs yamllint.
    entry: yamllint
    language: python
    types: [file, yaml]
    exclude: "^styles/"

  - id: md-check
    name: Check Markdown frontmatter and LOCALHOST links
    entry: tools/md-check.py
    language: script
    types: [file, markdown]

  - id: spell-check
    name: Check Markdown spelling and grammar
    entry: vale
    language: system
    types: [file, markdown]

Master merge + update
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Integrate EVPN tidibts with the main MLAG-without-peer-link article
  content/posts/2023/05/mlag-without-peer-link.md
  content/series/mlag/_index.md
Due: md-check, spell-check

Video for the week of May 1st + a bit of polishing
  content/posts/2023/05/automation-abstraction-level.md
  content/posts/2023/05/chat-gpt-efficiency-multiplier.md
  content/posts/2023/05/cisco-aci-quirks.md
  content/posts/2023/05/mlag-without-peer-link.md
  content/posts/2023/05/video-400ge-optics.md
  content/posts/2023/05/worth-reading-ipv6-deployment-status.md
  content/posts/2023/05/xbgp-modify-bgp-behavior.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2023/05/silent-hosts-evpn.html
  comments/2023/05/silent-hosts-evpn.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/05/silent-hosts-evpn.html
  comments/2023/05/silent-hosts-evpn.json
Due: none

Updated the 'Silent hosts in EVPN' based on reader feedback
  content/posts/2023/05/silent-hosts-evpn.md
Due: md-check, spell-check

Master merge + update
  comments/2023/04/multi-vendor-evpn-fabric.html
  comments/2023/04/multi-vendor-evpn-fabric.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/ipv6-p2p-addressing.html
  comments/2023/04/ipv6-p2p-addressing.json
Due: none

Master merge + update
  comments/2023/04/multi-vendor-evpn-fabric.html
  comments/2023/04/multi-vendor-evpn-fabric.json
  data/popular.json
Due: none

Blog posts for the week of May 8th
  content/posts/2023/05/netlab-dmvpn.md
  content/posts/2023/05/video-kubernetes-cni.md
  content/posts/2023/05/worth-reading-source-address-validation-still-a-problem.md
  content/posts/2023/05/worth-reading-sr-linux-ansible-collection.md
Due: md-check, spell-check

Flash update: ITNOG 7
  content/posts/2023/05/meet-itnog.md
Due: md-check, spell-check

Removing ITNOG shoutout
  content/posts/2023/05/meet-itnog.md
Due: md-check, spell-check

Master merge + update
  comments/2023/05/chat-gpt-efficiency-multiplier.html
  comments/2023/05/chat-gpt-efficiency-multiplier.json
  data/comment_count.json
  data/popular.json
Due: none

First ITNOG blog post
  content/posts/2023/05/itnog-wrapup.md
  content/posts/2023/05/worth-reading-bgp-flowspec-service-insertion.md
  content/posts/2023/05/worth-reading-source-address-validation-still-a-problem.md
Due: md-check, spell-check

Adding og:image meta-tag
  static/images/og-image.png
  themes/ipspace/layouts/partials/footer.html
  themes/ipspace/layouts/shortcodes/figure.html
Due: none

More Worth Reading blog posts
  content/posts/2014/09/youve-been-doing-same-thing-for-last-20.html
  content/posts/2014/09/youve-been-doing-same-thing-for-last-20.md
  content/posts/2023/05/worth-reading-trapped-technology-fallacies.md
  content/posts/2023/05/worth-reading-trustworthy-ai.md
Due: md-check, spell-check

Master merge + update
  comments/2023/05/mlag-without-peer-link.html
  comments/2023/05/mlag-without-peer-link.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/05/mlag-without-peer-link.html
  comments/2023/05/mlag-without-peer-link.json
  data/popular.json
Due: none

Upgrade "create popular blog posts" script to GA4 API
  tools/create-popular-3.py
  tools/create-popular.py
Due: none

Master merge + update
  data/popular.json
Due: none

netlab link groups
  content/posts/2023/05/netlab-link-groups.md
  static/2023/05/netlab-core.png
Due: md-check, spell-check

Blog posts for the week of May 15th
  content/posts/2011/07/disasters-and-recoveries-part-2.md
  content/posts/2023/05/dr-resources.md
  content/posts/2023/05/video-types-asics.md
Due: md-check, spell-check

Fixing a few typos
  content/posts/2023/05/worth-reading-sr-linux-ansible-collection.md
Due: md-check, spell-check

Move the regular netlab blog post due to a flash update
  content/posts/2023/05/netlab-link-groups.md
Due: md-check, spell-check

netlab release 1.5.3
  content/posts/2023/05/netlab-release-1.5.3-libvirt-public-networks.md
Due: md-check, spell-check

ITNOG wrapup
  content/posts/2023/05/cisco-aci-quirks.md
  content/posts/2023/05/itnog-wrapup.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none
