Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Master merge + update
  comments/2023/03/netlab-vxlan-dhcp-relay.html
  comments/2023/03/netlab-vxlan-dhcp-relay.json
  data/popular.json
Due: none

Master merge + update
  comments/2022/05/fibre-channel-2022.html
  comments/2022/05/fibre-channel-2022.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  content/archm/2023-04.md
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Inserted netlab release 1.5.1 into publishing sequence
  content/posts/2022/03/netsim-release-1.1.3.md
  content/posts/2023/04/ipv6-p2p-addressing.md
  content/posts/2023/04/netlab-release-1.5.1-vrf-vlan-links.md
Due: md-check, spell-check

Master merge + update
  comments/2023/03/leaf-switches-four-uplinks.html
  comments/2023/03/leaf-switches-four-uplinks.json
  data/popular.json
Due: none

Master merge + update
  comments/2019/11/maybe-its-time-we-start-appreciating.html
  comments/2019/11/maybe-its-time-we-start-appreciating.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Another batch of blog posts
  content/posts/2007/02/unequal-cost-load-sharing.md
  content/posts/2023/04/ipv6-p2p-addressing.md
  content/posts/2023/04/netlab-vrf-vlan-links.md
  content/posts/2023/04/palo-alto-ipv6-firewalling.md
  content/posts/2023/04/rpki-routing-security.md
  content/posts/2023/04/worth-reading-cloudflare-ip-packets-http.md
  content/posts/2023/04/worth-reading-mpls-te-worthwhile.md
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/tags-sidebar.html
Due: yamllint

Blog posts for the week of March 11th
  content/posts/2023/04/video-netlab-topology-file.md
  content/posts/2023/04/worth-reading-cloudflare-ip-packets-http.md
  content/posts/2023/04/worth-reading-mpls-te-worthwhile.md
Due: md-check, spell-check

Adding GA4 code to blog
  themes/ipspace/layouts/partials/header.html
Due: none

Master merge + update
  comments/2023/01/data-center-tcp-replacement.html
  comments/2023/01/data-center-tcp-replacement.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/wifi-shared-medium.html
  comments/2023/04/wifi-shared-medium.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/wifi-shared-medium.html
  comments/2023/04/wifi-shared-medium.json
Due: none

Master merge + update
  comments/2015/01/latency-killer-of-spread-out.html
  comments/2015/01/latency-killer-of-spread-out.json
  data/comment_count.json
  data/popular.json
Due: none

Another batch of blog posts
  content/posts/2023/04/multi-vendor-evpn-fabric.md
  content/posts/2023/04/netlab-merge-config.md
  static/2023/04/dmvpn-netlab.png
Due: md-check, spell-check

Master merge + update
  data/popular.json
  data/tags.json
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2022/01/isis-unnumbered.html
  comments/2022/01/isis-unnumbered.json
  data/comment_count.json
  data/popular.json
Due: none

STP/OSPF/BGP complexity + migration of related blog posts
  content/posts/2014/07/is-stp-really-evil.html
  content/posts/2014/07/is-stp-really-evil.md
  content/posts/2016/03/spanning-tree-protocol-stp-and-bridging.html
  content/posts/2016/03/spanning-tree-protocol-stp-and-bridging.md
  content/posts/2016/09/do-we-still-need-ospf-areas-and.html
  content/posts/2016/09/do-we-still-need-ospf-areas-and.md
  content/posts/2023/04/stp-ospf-bgp-complexity.md
Due: md-check, spell-check

Added BGPsec/ASPA information, removed AS cones
  content/posts/2023/04/rpki-routing-security.md
Due: md-check, spell-check

Added "I hope I'm wrong" note to the Palo Alto IPv6 blog post
  content/posts/2023/04/palo-alto-ipv6-firewalling.md
Due: md-check, spell-check

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  data/tags.yaml
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: yamllint

Worth Reading blog posts
  content/posts/2013/03/does-dedicated-iscsi-infrastructure.html
  content/posts/2013/03/does-dedicated-iscsi-infrastructure.md
  content/posts/2023/04/worth-reading-end-to-end-system-design.md
  content/posts/2023/04/worth-reading-linux-router-180gbps.md
  content/posts/2023/05/small-site-ebgp-only-design.md
Due: md-check, spell-check

EVPN versus dynamic MAC learning
  content/posts/2023/04/chatgpt-explaining-iscsi-crc.md
  content/posts/2023/04/worth-reading-cloudflare-ip-packets-http.md
  content/posts/2023/05/evpn-dynamic-mac-learning.md
Due: md-check, spell-check

Migrated "Ethernet checksums" blog post
  content/posts/2015/11/ethernet-checksums-are-not-good-enough.html
  content/posts/2015/11/ethernet-checksums-are-not-good-enough.md
  content/posts/2023/04/chatgpt-explaining-iscsi-crc.md
Due: md-check, spell-check

Blog posts for the week of April 17th
  content/posts/2023/04/multi-vendor-evpn-fabric.md
  content/posts/2023/04/netlab-vrf-vlan-links.md
  content/posts/2023/04/niac-resources.md
  content/posts/2023/04/video-sdwan-cpe-architecture.md
  content/posts/2023/04/worth-reading-zombie-outbreak-juniper-routers.md
Due: md-check, spell-check

Master merge + update
  comments/2023/04/chatgpt-explaining-iscsi-crc.html
  comments/2023/04/chatgpt-explaining-iscsi-crc.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/04/chatgpt-explaining-iscsi-crc.html
  comments/2023/04/chatgpt-explaining-iscsi-crc.json
  data/popular.json
Due: none

Update the iSCSI blog post using GPT-4
  content/posts/2023/04/chatgpt-explaining-iscsi-crc.md
Due: md-check, spell-check

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
