Repository ipspace/blog: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, md-check, spell-check

yamllint:
  name: yamllint
  description: This hook runs yamllint.
  entry: yamllint
  language: python

md-check:
  name: Check Markdown frontmatter and LOCALHOST links
  entry: tools/md-check.py
  language: script

spell-check:
  name: Check Markdown spelling and grammar
  entry: vale
  language: system

Master merge + update
  comments/2022/11/automation-service-provider.html
  comments/2022/11/automation-service-provider.json
  data/popular.json
Due: none

Master merge + update
  data/archive.json
  data/popular.json
  data/tags.json
  snippets/archive-sidebar.html
  snippets/tags-sidebar.html
Due: none

Master merge + update
  comments/2023/05/itnog-wrapup.html
  comments/2023/05/itnog-wrapup.json
  data/comment_count.json
  data/popular.json
Due: none

Blog posts for the week of May 22nd
  content/posts/2023/04/dhcp-redundant-relay.md
  content/posts/2023/05/dhcp-redundant-vrf-relay.md
  content/posts/2023/05/failure-detection-server-dual-homing.md
  static/2023/05/evpn-dhcp-redundant-server.png
Due: md-check, spell-check

Missing information for the EIGRP Cisco Press book migrated to ipSpace.net blog
  config.yaml
  content/eigrp/config_index.html
  content/eigrp/ex_10_2.html
  content/eigrp/ex_10_3.html
  content/eigrp/ex_11_1.gif
  content/eigrp/ex_11_1.html
  content/eigrp/ex_1_1.html
  content/eigrp/ex_1_3.gif
  content/eigrp/ex_1_3.html
  content/eigrp/ex_1_3_barney.txt
  content/eigrp/ex_1_3_betty.txt
  content/eigrp/ex_1_3_fred.txt
  content/eigrp/ex_1_3_wilma.txt
  content/eigrp/ex_1_6.gif
  content/eigrp/ex_1_6.html
  content/eigrp/ex_2_2.gif
  content/eigrp/ex_2_2.html
  content/eigrp/ex_5_4.gif
  content/eigrp/ex_5_4.html
  content/eigrp/ex_7_2.gif
  content/eigrp/ex_7_2.html
  content/eigrp/ex_8_2.gif
  content/eigrp/ex_8_2.html
  content/eigrp/ex_9_3.gif
  content/eigrp/ex_9_3.html
  content/eigrp/exercise_index.md
  content/eigrp/migrate.pl
  content/eigrp/start.md
  layouts/eigrp/list.html
  layouts/eigrp/single.html
Due: yamllint, md-check, spell-check

Fixing a typo
  content/eigrp/start.md
Due: md-check, spell-check

Added an index file to fix title on the EIGRP start page
  content/eigrp/_index.md
Due: md-check, spell-check

URL checking tool
  tools/list-urls.py
Due: none

Master merge + update
  comments/2023/04/palo-alto-ipv6-firewalling.html
  comments/2023/04/palo-alto-ipv6-firewalling.json
  data/popular.json
Due: none

Add pages with alt_section set to "posts" to the blog front page
  content/eigrp/start.md
  content/posts/2023/05/dhcp-redundant-vrf-relay.md
  content/posts/2023/05/failure-detection-server-dual-homing.md
  themes/ipspace/layouts/index.html
Due: md-check, spell-check

Master merge + update
  comments/2023/05/cisco-aci-quirks.html
  comments/2023/05/cisco-aci-quirks.json
  data/comment_count.json
  data/popular.json
Due: none

Master merge + update
  comments/2023/05/cisco-aci-quirks.html
  comments/2023/05/cisco-aci-quirks.json
  data/popular.json
Due: none

Video: Friday, May 26th
  content/posts/2023/05/network-insecurity-root-causes.md
Due: md-check, spell-check

Master merge + update
  comments/2011/11/ldp-igp-synchronization-in-mpls.html
  comments/2011/11/ldp-igp-synchronization-in-mpls.json
  data/popular.json
Due: none

KB migration: Snapshot #1
  content/kb/Ansible/00-intro.md
  layouts/kb/list.html
  layouts/kb/single.html
Due: md-check, spell-check

Knowledgebase layouts
  layouts/kb/list.html
  layouts/kb/single.html
  layouts/partials/kb-content.html
  layouts/partials/kb-footer.html
  layouts/partials/kb-header.html
  layouts/partials/kb-pagination.html
  layouts/partials/kb-section-bottom.html
  layouts/partials/kb-section-intro.html
  layouts/partials/kb-sidebar-toc.html
  layouts/partials/kb-sidebar.html
Due: none

Migrated: DataModels, QuantumCrypto, Tclsh
  content/kb/DataModels/00-Data Duplication in Network Automation Data.md
  content/kb/DataModels/10-Removing Duplicate Data.md
  content/kb/DataModels/20-Restructure.md
  content/kb/DataModels/30-Generalize Network Model.md
  content/kb/DataModels/40-Link Prefixes.md
  content/kb/DataModels/60-Referential Integrity.md
  content/kb/DataModels/65-Data-Transformation.md
  content/kb/DataModels/66-Transformation-Example.md
  content/kb/DataModels/70-Validation.md
  content/kb/QuantumCrypto/010-overview.md
  content/kb/QuantumCrypto/020-protect.md
  content/kb/QuantumCrypto/030-real-life.md
  content/kb/QuantumCrypto/040-hype.md
  content/kb/Tclsh/00-intro.md
  content/kb/Tclsh/10-commands.md
  content/kb/Tclsh/20-Responses.md
  content/kb/Tclsh/30-parameters.md
  content/kb/Tclsh/40-syslog.md
  content/kb/_index.md
  data/kb/DataModels.yaml
  data/kb/QuantumCrypto.yaml
  data/kb/Tclsh.yaml
Due: yamllint, md-check, spell-check

Migrate 'blockquote' and 'figure' tags in KB migration
  tools/migrate-kb.py
Due: none

KB migration tool
  tools/blog-util-lib.sh
  tools/migrate-kb.py
Due: none

Migrate DockerSvc
  content/kb/DockerSvc/00-Intro.md
  content/kb/DockerSvc/10-Exposed.md
  content/kb/DockerSvc/20-Published.md
  content/kb/DockerSvc/30-nat-iptables.md
  content/kb/DockerSvc/40-userland-proxy.md
  content/kb/DockerSvc/50-ipv6.md
  content/kb/DockerSvc/99-conclusions.md
  content/kb/DockerSvc/config.yaml
  data/kb/DockerSvc.yaml
Due: yamllint, md-check, spell-check

Add kb text migration of INFO/NOTE/CAPTION markup
  tools/migrate-kb.py
Due: none

Table-of-contents on index page and breadcrumbs on article pages
  content/kb/DockerSvc/00-Intro.md
  content/kb/_index.md
  layouts/kb/list.html
  layouts/partials/kb-content.html
  layouts/partials/kb-header.html
  layouts/partials/kb-section-intro.html
  layouts/shortcodes/kb-toc.html
  themes/ipspace/layouts/partials/header.html
Due: md-check, spell-check

Fix index page URL
  content/kb/CiscoAutomation/010-summary.md
  content/kb/ConfigRegex/00-Intro.md
  content/kb/DockerSvc/00-Intro.md
  content/kb/Layer3Fabrics/00-Intro.md
Due: md-check, spell-check

Migrated BGP High Availability
  content/kb/BGPHighAvailability/00-Intro.md
  content/kb/BGPHighAvailability/10-BGP-Design.md
  content/kb/BGPHighAvailability/20-Firewall-Upgrade.md
  content/kb/BGPHighAvailability/30-Controlling-BGP-Convergence.md
  content/kb/BGPHighAvailability/config.yaml
  data/kb/BGPHighAvailability.yaml
Due: yamllint, md-check, spell-check

Minor migration script improvements
  tools/migrate-kb.py
Due: none

Migrate ConfigRegex
  content/kb/ConfigRegex/00-Intro.md
  content/kb/ConfigRegex/10-Implementation.md
  content/kb/ConfigRegex/20-Optimizations.md
  content/kb/ConfigRegex/30-References.md
  data/kb/ConfigRegex.yaml
Due: yamllint, md-check, spell-check

Migrated Layer3Fabrics
  content/kb/Layer3Fabrics/00-Intro.md
  content/kb/Layer3Fabrics/10-problem.md
  content/kb/Layer3Fabrics/20-apps.md
  content/kb/Layer3Fabrics/30-servers.md
  content/kb/Layer3Fabrics/40-clients.md
  content/kb/Layer3Fabrics/50-conclusions.md
  data/kb/Layer3Fabrics.yaml
Due: yamllint, md-check, spell-check

Implement 'more info after next-page' layout
  layouts/partials/kb-content.html
  layouts/partials/kb-section-bottom.html
Due: none

Migrated: AutomationLab + CiscoAutomation
  content/kb/AutomationLab/00-Intro.md
  content/kb/AutomationLab/10-Ansible_Environment.md
  content/kb/AutomationLab/20-Networking_Lab.md
  content/kb/AutomationLab/23-Sample_Lab_Setups.md
  content/kb/AutomationLab/30-Connectivity.md
  content/kb/AutomationLab/40-Additional_Resources.md
  content/kb/AutomationLab/config.yaml
  content/kb/CiscoAutomation/010-summary.md
  content/kb/CiscoAutomation/030-ztp.md
  content/kb/CiscoAutomation/050-scraping.md
  content/kb/CiscoAutomation/070-netconf.md
  content/kb/CiscoAutomation/090-native_api.md
  data/kb/CiscoAutomation.yaml
Due: yamllint, md-check, spell-check

Path conditions:
  yamllint: any of: \.(yaml|yml)$, but not: ^styles/
  md-check: any of: \.(md|markdown|mdown)$
  spell-check: any of: \.(md|markdown|mdown)$
